Repository BinaryStudioAcademy/bsa-2023-calmpal, changes with the labels that .github/labeler.yml gives for each.
All labels: root, workflows, shared, backend, frontend, mobile, ENV

cp-32: + completing comments
  frontend/src/libs/components/header/header.module.scss
  frontend/src/libs/components/header/header.tsx
  frontend/src/libs/components/link/link.module.scss
  frontend/src/libs/components/link/link.tsx
Labels: frontend

cp-20: + fixing file names
  frontend/src/libs/components/loader/loader.module.scss
  frontend/src/libs/components/loader/loader.tsx
Labels: frontend

cp-14: + user_details and files table names
  backend/src/libs/packages/database/libs/enums/database-table-name.enum.ts
Labels: backend

cp-14: + creating user_details table migration
  backend/src/db/migrations/20230820083309_create_user_details_table.ts
Labels: backend

development: + noUncheckedIndexedAccess, exactOptionalPropertyTypes, noPropertyAccessFromIndexSignature to tsconfig
  backend/src/libs/packages/server-application/base-server-application.ts
  frontend/src/libs/hooks/use-app-form/use-app-form.hook.ts
  frontend/src/libs/packages/config/base-config.package.ts
  mobile/src/libs/hooks/use-app-form/use-app-form.hook.ts
  mobile/src/libs/packages/config/base-config.package.ts
  tsconfig.json
Labels: root, backend, frontend, mobile

development: + eslint self-closing-components rule to frontend and mobile
  frontend/.eslintrc.yml
  mobile/.eslintrc.yml
  mobile/package.json
  mobile/src/libs/components/button/button.tsx
  mobile/src/libs/components/button/styles.ts
  package-lock.json
Labels: root, frontend, mobile

cp-14: * fixed wrong foreign columns creation
  backend/src/db/migrations/20230820083309_create_user_details_table.ts
Labels: backend

cp-14: - files database name
  backend/src/libs/packages/database/libs/enums/database-table-name.enum.ts
Labels: backend

cp-14: - survey and avatar_id columns
  backend/src/db/migrations/20230820083309_create_user_details_table.ts
Labels: backend

cp-20: * fixing css imports and html semantic
  frontend/src/assets/css/variables.scss
  frontend/src/libs/components/loader/loader.module.scss
  frontend/src/libs/components/loader/loader.tsx
Labels: frontend

cp-20: + fixing name in styles files
  frontend/src/libs/components/loader/loader.tsx
  frontend/src/libs/components/loader/styles.module.scss
Labels: frontend

cp-20: * using deconstruction
  frontend/src/libs/components/loader/loader.tsx
Labels: frontend

cp-14: * changed migrations files names
  backend/src/db/migrations/20230820083309_add_user_details_table.ts
Labels: backend

cp-32: + solving css issues and mergeStyles helper was created
  frontend/src/assets/css/variables.scss
  frontend/src/libs/components/header/header.tsx
  frontend/src/libs/components/header/styles.module.scss
  frontend/src/libs/components/link/link.tsx
  frontend/src/libs/components/link/styles.module.scss
  frontend/src/libs/helpers/helpers.ts
  frontend/src/libs/helpers/merge-styles.ts
Labels: frontend

cp-32: * fix ci error
  frontend/src/libs/components/link/link.tsx
Labels: frontend

cp-32: * fixing types in link component
  frontend/src/libs/components/link/link.tsx
Labels: frontend

cp-32: * solving types issues
  frontend/src/libs/components/link/link.tsx
Labels: frontend

cp-32: * fixing ci errors
  frontend/src/libs/components/link/link.tsx
Labels: frontend

cp-32: * fix types in merge-styles helper
  frontend/src/libs/helpers/merge-styles.ts
Labels: frontend

cp-32: * fixing styles and link component
  frontend/src/libs/components/link/link.tsx
Labels: frontend

cp-32: * fix vertical alignment in logo
  frontend/src/libs/components/header/header.tsx
  frontend/src/libs/components/link/styles.module.scss
Labels: frontend

cp-32: * fix vertical alignments
  frontend/src/libs/components/link/styles.module.scss
Labels: frontend

development: + typescript-eslint parser
  package-lock.json
  package.json
Labels: root

cp-16: + add JWT issuing to user.service
  backend/.env.example
  backend/package-lock.json
  backend/package.json
  backend/src/libs/packages/config/base-config.package.ts
  backend/src/libs/packages/config/libs/types/environment-schema.type.ts
  backend/src/packages/users/user.service.ts
  backend/src/packages/users/users.ts
  frontend/package-lock.json
  frontend/package.json
  shared/tsconfig.json
Labels: shared, backend, frontend, ENV

cp-32: * changed names in css variables
  frontend/src/assets/css/styles.scss
  frontend/src/assets/css/variables.scss
  frontend/src/libs/components/header/styles.module.scss
  frontend/src/libs/components/link/styles.module.scss
  frontend/src/libs/helpers/merge-styles.ts
Labels: frontend

cp-26: + add app colors
  mobile/src/libs/enums/ui/app-colors.ts
Labels: mobile

cp-26: + loader
  mobile/src/libs/components/components.tsx
  mobile/src/libs/components/loader/loader.tsx
Labels: mobile

cp-32: + fixed suggestions
  frontend/src/assets/css/variables.scss
  frontend/src/assets/img/logo.svg
  frontend/src/libs/components/header/header.tsx
  frontend/src/libs/components/header/styles.module.scss
  frontend/src/libs/components/link/styles.module.scss
Labels: frontend

cp-26: * fix enum name and structure
  mobile/src/libs/components/loader/loader.tsx
  mobile/src/libs/enums/enums.ts
  mobile/src/libs/enums/ui/app-color.enum.ts
  mobile/src/libs/enums/ui/ui.ts
Labels: mobile

cp-26: + add styles for loader
  mobile/src/libs/components/loader/loader.tsx
  mobile/src/libs/components/loader/styles.ts
Labels: mobile

development: * ignore react-native imports for windows
  mobile/.eslintrc.yml
Labels: mobile

cp-17: + fastify-plugin package
  backend/package.json
  package-lock.json
Labels: root, backend

cp-23: + added styles for button and input components, changes on input field related to different types of input state
  mobile/src/libs/components/button/button.tsx
  mobile/src/libs/components/button/styles.ts
  mobile/src/libs/components/input/input.tsx
  mobile/src/libs/components/input/styles.ts
Labels: mobile

cp-32: + installing montserrat fonts
  frontend/package.json
  frontend/public/fonts/montserrat/Montserrat-Black.woff2
  frontend/public/fonts/montserrat/Montserrat-BlackItalic.woff2
  frontend/public/fonts/montserrat/Montserrat-Bold.woff2
  frontend/public/fonts/montserrat/Montserrat-BoldItalic.woff2
  frontend/public/fonts/montserrat/Montserrat-ExtraBold.woff2
  frontend/public/fonts/montserrat/Montserrat-ExtraBoldItalic.woff2
  frontend/public/fonts/montserrat/Montserrat-ExtraLight.woff2
  frontend/public/fonts/montserrat/Montserrat-ExtraLightItalic.woff2
  frontend/public/fonts/montserrat/Montserrat-Italic.woff2
  frontend/public/fonts/montserrat/Montserrat-Light.woff2
  frontend/public/fonts/montserrat/Montserrat-LightItalic.woff2
  frontend/public/fonts/montserrat/Montserrat-Medium.woff2
  frontend/public/fonts/montserrat/Montserrat-MediumItalic.woff2
  frontend/public/fonts/montserrat/Montserrat-Regular.woff2
  frontend/public/fonts/montserrat/Montserrat-SemiBold.woff2
  frontend/public/fonts/montserrat/Montserrat-SemiBoldItalic.woff2
  frontend/public/fonts/montserrat/Montserrat-Thin.woff2
  frontend/public/fonts/montserrat/Montserrat-ThinItalic.woff2
  frontend/src/assets/css/fonts.scss
  frontend/src/assets/css/styles.scss
  frontend/src/libs/components/header/header.tsx
  frontend/src/libs/components/header/styles.module.scss
  frontend/src/libs/components/link/link.tsx
  frontend/src/libs/components/link/styles.module.scss
  frontend/src/libs/helpers/get-valid-class-names.ts
  frontend/src/libs/helpers/helpers.ts
  frontend/src/libs/helpers/merge-styles.ts
  package-lock.json
Labels: root, frontend

cp-20: * fixing style variables names
  frontend/src/assets/css/styles.scss
  frontend/src/assets/css/variables.scss
  frontend/src/libs/components/loader/styles.module.scss
Labels: frontend

cp-20: * fix white color name
  frontend/src/assets/css/variables.scss
  frontend/src/libs/components/loader/styles.module.scss
Labels: frontend

cp-21: + error-handling-middleware + styles
  frontend/src/assets/css/scaffolding.scss
  frontend/src/index.tsx
  frontend/src/libs/packages/store/store.package.ts
  frontend/src/middlewares/errorHandling/error-handling-middleware.ts
Labels: frontend

cp-21: * Renamed Folder
  frontend/src/libs/packages/store/store.package.ts
  frontend/src/middlewares/error-handling/error-handling-middleware.ts
Labels: frontend

cp-32: - removing extra fonts
  frontend/public/fonts/montserrat/Montserrat-Black.woff2
  frontend/public/fonts/montserrat/Montserrat-BlackItalic.woff2
  frontend/public/fonts/montserrat/Montserrat-Bold.woff2
  frontend/public/fonts/montserrat/Montserrat-BoldItalic.woff2
  frontend/public/fonts/montserrat/Montserrat-ExtraBold.woff2
  frontend/public/fonts/montserrat/Montserrat-ExtraBoldItalic.woff2
  frontend/public/fonts/montserrat/Montserrat-ExtraLight.woff2
  frontend/public/fonts/montserrat/Montserrat-ExtraLightItalic.woff2
  frontend/public/fonts/montserrat/Montserrat-Italic.woff2
  frontend/public/fonts/montserrat/Montserrat-Light.woff2
  frontend/public/fonts/montserrat/Montserrat-LightItalic.woff2
  frontend/public/fonts/montserrat/Montserrat-MediumItalic.woff2
  frontend/public/fonts/montserrat/Montserrat-SemiBoldItalic.woff2
  frontend/public/fonts/montserrat/Montserrat-Thin.woff2
  frontend/public/fonts/montserrat/Montserrat-ThinItalic.woff2
  frontend/src/assets/css/fonts.scss
  frontend/src/assets/css/variables.scss
Labels: frontend

cp-32: * fixing header styles
  frontend/src/libs/components/header/styles.module.scss
Labels: frontend

.github/labeler.yml:

root: '*'

workflows: '.github/**/*'

shared: 'shared/**/*'

backend:
  - any:
      - 'backend/**/*'
      - '!backend/.env.example'

frontend:
  - any:
      - 'frontend/**/*'
      - '!frontend/.env.example'

mobile:
  - any:
      - 'mobile/**/*'
      - '!mobile/.env.example'

ENV:
  - 'backend/.env.example'
  - 'frontend/.env.example'
  - 'mobile/.env.example'
