Repository BinaryStudioAcademy/bsa-2023-calmpal, changes with the labels that .github/labeler.yml gives for each.
All labels: root, workflows, shared, backend, frontend, mobile, ENV

cp-32: * fixing header styles again
  frontend/src/libs/components/header/header.tsx
Labels: frontend

cp-32: * fixing link styles
  frontend/src/libs/components/link/link.tsx
  frontend/src/libs/components/link/styles.module.scss
  frontend/src/libs/helpers/get-valid-class-names.ts
Labels: frontend

cp-32: * fixing styles
  frontend/src/libs/components/header/header.tsx
  frontend/src/libs/components/header/styles.module.scss
  frontend/src/libs/components/link/styles.module.scss
Labels: frontend

cp-32: - change name of fonts
  frontend/public/fonts/montserrat/Montserrat-Medium.woff2
  frontend/public/fonts/montserrat/Montserrat-Regular.woff2
  frontend/public/fonts/montserrat/Montserrat-SemiBold.woff2
Labels: frontend

cp-26: - unnecessary Text tag
  mobile/src/libs/components/loader/loader.tsx
Labels: mobile

cp-32: + add kebab case in font names
  frontend/public/fonts/montserrat/montserrat-medium.woff2
  frontend/public/fonts/montserrat/montserrat-regular.woff2
  frontend/public/fonts/montserrat/montserrat-semibold.woff2
Labels: frontend

development: * disable eslint prop-types rule
  frontend/.eslintrc.yml
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/link/link.tsx
  frontend/src/libs/components/router-provider/router-provider.tsx
  frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
Labels: frontend

cp-17: + declare fastify module with extended request interface
  backend/src/index.d.ts
Labels: backend

cp-17: + override eslint rules for index.d.ts file
  backend/.eslintrc.yml
Labels: backend

cp-17: + include index.d.ts in tsconfig
  backend/tsconfig.json
Labels: backend

cp-17: + unauthorized http code
  shared/src/libs/packages/http/libs/enums/http-code.enum.ts
Labels: shared

cp-18: + protected route wrapper component
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/protected-route/protected-route.tsx
Labels: frontend

cp-18: - root route content
  frontend/src/libs/components/app/app.tsx
Labels: frontend

cp-18: + root route page
  frontend/src/pages/root/root.tsx
Labels: frontend

cp-18: + protected route wrapper component to root component
  frontend/src/index.tsx
Labels: frontend

development: * disable dot notation eslint rule
  .eslintrc.yml
Labels: root

cp-18: * protected route component by adding useSelector
  frontend/src/libs/components/protected-route/protected-route.tsx
Labels: frontend

.github/labeler.yml:

root: '*'

workflows: '.github/**/*'

shared: 'shared/**/*'

backend:
  - any:
      - 'backend/**/*'
      - '!backend/.env.example'

frontend:
  - any:
      - 'frontend/**/*'
      - '!frontend/.env.example'

mobile:
  - any:
      - 'mobile/**/*'
      - '!mobile/.env.example'

ENV:
  - 'backend/.env.example'
  - 'frontend/.env.example'
  - 'mobile/.env.example'
