Repository BinaryStudioAcademy/bsa-2023-calmpal, changes with the labels that .github/labeler.yml gives for each.
All labels: root, workflows, shared, backend, frontend, mobile, ENV

cp-7: + database mermaid schema into readme
  readme.md
Labels: root

cp-7: * improve database schema
  readme.md
Labels: root

cp-7: * fix typo naming in database schema
  readme.md
Labels: root

cp-4: * secure configuration of aws credentials via assuming the role
  .github/workflows/cd-development.yml
Labels: workflows

cp-4: * temporary change trigger for cd action
  .github/workflows/cd-development.yml
Labels: workflows

cp-4: * temporary add permissions to cd action
  .github/workflows/cd-development.yml
Labels: workflows

cp-4: * extend overritive permissions for cd action
  .github/workflows/cd-development.yml
Labels: workflows

development: * validation-schema
  shared/src/packages/users/libs/enums/user-validation-message.enum.ts
  shared/src/packages/users/libs/validation-schemas/user-sign-up.validation-schema.ts
Labels: shared

cp-4: * accomodate with some changes ci development action
  .github/workflows/cd-development.yml
Labels: workflows

cp-4: * temporary provide debugging the env variables
  .github/workflows/cd-development.yml
Labels: workflows

cp-4: * temporary attempt to log aws session token var
  .github/workflows/cd-development.yml
Labels: workflows

cp-4: * hcange version of configure-aws-credentials action
  .github/workflows/cd-development.yml
Labels: workflows

cp-4: * exclude login ecr from actions
  .github/workflows/cd-development.yml
Labels: workflows

cp-4: * temporary include sts get caller identity
  .github/workflows/cd-development.yml
Labels: workflows

cp-4: * increase version of docker-build-with-cache-action
  .github/workflows/cd-development.yml
Labels: workflows

cp-4: * hide sts get caller identity
  .github/workflows/cd-development.yml
Labels: workflows

cp-4: * attempt to manually build and push to ecr
  .github/workflows/cd-development.yml
Labels: workflows

cp-4: * path to backend doocker file
  .github/workflows/cd-development.yml
Labels: workflows

cp-4: * accomodate registry for docker backend image
  .github/workflows/cd-development.yml
Labels: workflows

cp-4: * output registry to next action job
  .github/workflows/cd-development.yml
Labels: workflows

cp-4: * output registry to next action job
  .github/workflows/cd-development.yml
Labels: workflows

cp-4: * correct version for action
  .github/workflows/cd-development.yml
Labels: workflows

cp-4: * restore approach of using access keys of aws iam user as temporary solution instead of assuming iam role
  .github/workflows/cd-development.yml
Labels: workflows

cp-4: * fix indent ci development config
  .github/workflows/cd-development.yml
Labels: workflows

cp-4: * split ci workflow with ci and docker build ones
  .github/workflows/ci-docker-build.yml
  .github/workflows/ci.yml
Labels: workflows

cp-4: * accomodate readme with new command of launching the docker
  readme.md
Labels: root

cp-2: * fix input issue
  mobile/src/libs/components/input/input.tsx
Labels: mobile

cp-20: + added loader component
  frontend/src/libs/components/loader/loader.tsx
Labels: frontend

cp-20: + added loader component
  frontend/src/assets/css/loader.scss
  frontend/src/assets/css/styles.scss
Labels: frontend

cp-2: * fix sign-up on mobile
  mobile/.env.example
  mobile/.eslintrc.yml
  mobile/android/app/build.gradle
  mobile/package.json
  mobile/src/screens/auth/auth.tsx
  mobile/src/screens/auth/components/sign-up-form/sign-up-form.tsx
  package-lock.json
  package.json
Labels: root, mobile, ENV

cp-21: + Toastify installation
  package-lock.json
  package.json
Labels: root

cp-20: + updating component index
  frontend/src/libs/components/components.ts
Labels: frontend

cp-20: * avoided useless prop in loader
  frontend/src/libs/components/loader/loader.tsx
Labels: frontend

cp-20: * updating scss with variables
  frontend/src/assets/css/loader.scss
Labels: frontend

cp-20: * updating component to solve comments
  frontend/src/assets/css/loader.scss
  frontend/src/assets/css/styles.scss
  frontend/src/libs/components/loader/loader.tsx
Labels: frontend

cp-32: + added Header
  frontend/src/assets/css/header.scss
  frontend/src/libs/components/app/app.tsx
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/header/header.tsx
  frontend/src/libs/components/link/link.tsx
Labels: frontend

cp-32: * updating padding
  frontend/src/assets/css/header.scss
Labels: frontend

cp-32: + add header logo
  frontend/src/assets/css/header.scss
  frontend/src/assets/img/header-logo.svg
  frontend/src/libs/components/header/header.tsx
Labels: frontend

cp-20: + adding scss modules
  frontend/src/assets/css/variables.scss
  frontend/src/libs/components/app/app.tsx
  frontend/src/libs/components/loader/loader.tsx
  frontend/src/libs/components/loader/styles.module.scss
Labels: frontend

cp-20: * fixed styles and app.tsx
  frontend/src/libs/components/app/app.tsx
  frontend/src/libs/components/loader/styles.module.scss
Labels: frontend

.github/labeler.yml:

root: '*'

workflows: '.github/**/*'

shared: 'shared/**/*'

backend:
  - any:
      - 'backend/**/*'
      - '!backend/.env.example'

frontend:
  - any:
      - 'frontend/**/*'
      - '!frontend/.env.example'

mobile:
  - any:
      - 'mobile/**/*'
      - '!mobile/.env.example'

ENV:
  - 'backend/.env.example'
  - 'frontend/.env.example'
  - 'mobile/.env.example'
