Repository BinaryStudioAcademy/bsa-2023-calmpal, pull requests merged in 2023-08, with the labels that each got.

#8 cp-2: Fix mobile imports
  backend/package.json
  frontend/package.json
  mobile/babel.config.js
  mobile/metro.config.js
  mobile/package.json
  mobile/tsconfig.json
  package-lock.json
  package.json
  shared/package.json
  shared/tsconfig.json
Labels: root, shared, backend, frontend, cp-v1, mobile

#11 cp-7: Database mermaid schema into readme
  readme.md
Labels: root, cp-v1, development

#28 cp-2: * fix input issue
  mobile/src/libs/components/input/input.tsx
Labels: development, mobile

#30 cp-2: Fix sign-up on mobile
  mobile/.env.example
  mobile/.eslintrc.yml
  mobile/android/app/build.gradle
  mobile/package.json
  mobile/src/screens/auth/auth.tsx
  mobile/src/screens/auth/components/sign-up-form/sign-up-form.tsx
  package-lock.json
  package.json
Labels: root, ENV, cp-v1, development, mobile

#34 cp-26: Add Loader
  mobile/src/libs/components/components.tsx
  mobile/src/libs/components/loader/loader.tsx
  mobile/src/libs/components/loader/styles.ts
  mobile/src/libs/enums/enums.ts
  mobile/src/libs/enums/ui/app-color.enum.ts
  mobile/src/libs/enums/ui/ui.ts
Labels: cp-v1, development, mobile

#31 cp-20: Add Loading Component
  frontend/src/assets/css/styles.scss
  frontend/src/assets/css/variables.scss
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/loader/loader.tsx
  frontend/src/libs/components/loader/styles.module.scss
Labels: frontend, cp-v1, development

#36 cp-18: Add Protected Route Wrapper Component
  frontend/src/index.tsx
  frontend/src/libs/components/app/app.tsx
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/protected-route/protected-route.tsx
  frontend/src/pages/root/root.tsx
Labels: frontend, cp-v1, development

#53 cp-41: Add PWA
  frontend/index.html
  frontend/package.json
  frontend/public/android-chrome-192x192.png
  frontend/public/android-chrome-512x512.png
  frontend/public/apple-touch-icon.png
  frontend/public/browserconfig.xml
  frontend/public/favicon-16x16.png
  frontend/public/favicon-32x32.png
  frontend/public/favicon.ico
  frontend/public/mstile-144x144.png
  frontend/public/mstile-150x150.png
  frontend/public/mstile-310x150.png
  frontend/public/mstile-310x310.png
  frontend/public/mstile-70x70.png
  frontend/public/safari-pinned-tab.svg
  frontend/public/site.webmanifest
  frontend/public/vite.svg
  frontend/vite.config.ts
  package-lock.json
Labels: root, frontend, cp-v1, development

#37 cp-16: add jwt
  backend/.env.example
  backend/package.json
  backend/src/libs/packages/config/base-config.package.ts
  backend/src/libs/packages/config/libs/types/environment-schema.type.ts
  backend/src/libs/packages/jwt/jwt.service.ts
  backend/src/libs/packages/jwt/jwt.ts
  backend/src/packages/users/user.service.ts
  backend/src/packages/users/users.ts
  frontend/package.json
  frontend/src/libs/packages/api/base-http-api.ts
  frontend/src/libs/packages/store/store.package.ts
  frontend/src/packages/auth/auth-api.ts
  frontend/src/slices/auth/actions.ts
  package-lock.json
  shared/src/packages/users/libs/types/user-auth-response-dto.types.ts
  shared/src/packages/users/libs/types/user-sign-up-response-dto.type.ts
Labels: root, shared, backend, frontend, ENV, cp-v1, development

#39 cp-17: Protected routing
  backend/.eslintrc.yml
  backend/package.json
  backend/src/index.d.ts
  backend/src/libs/enums/enums.ts
  backend/src/libs/exceptions/exceptions.ts
  backend/src/libs/packages/controller/controller.ts
  backend/src/libs/packages/controller/libs/enums/controller-hook.enum.ts
  backend/src/libs/packages/controller/libs/enums/enums.ts
  backend/src/libs/packages/server-application/base-server-application.ts
  backend/src/libs/packages/server-application/libs/constants/api.constants.ts
  backend/src/libs/packages/server-application/libs/constants/constants.ts
  backend/src/libs/packages/server-application/libs/helpers/check-is-white-route/check-is-white-route.helper.ts
  backend/src/libs/packages/server-application/libs/helpers/get-error-info/get-auth-error-info.helper.ts
  backend/src/libs/packages/server-application/libs/helpers/get-error-info/get-default-error-info.helper.ts
  backend/src/libs/packages/server-application/libs/helpers/get-error-info/get-error-info.helper.ts
  backend/src/libs/packages/server-application/libs/helpers/get-error-info/get-http-error-info.helper.ts
  backend/src/libs/packages/server-application/libs/helpers/get-error-info/get-validation-error-info.helper.ts
  backend/src/libs/packages/server-application/libs/helpers/helpers.ts
  backend/src/libs/packages/server-application/libs/types/error-info.type.ts
  backend/src/libs/packages/server-application/libs/types/error-parameter.type.ts
  backend/src/libs/packages/server-application/libs/types/types.ts
  backend/src/libs/packages/server-application/server-application.ts
  backend/src/libs/plugins/authorization/authorization.plugin.ts
  backend/src/libs/plugins/plugins.ts
  backend/src/packages/auth/auth.ts
  backend/src/packages/auth/libs/types/token/auth-token-payload.type.ts
  backend/src/packages/auth/libs/types/types.ts
  backend/src/packages/users/libs/types/types.ts
  backend/src/packages/users/user.repository.ts
  backend/src/packages/users/user.service.ts
  backend/src/packages/users/users.ts
  backend/tsconfig.json
  package-lock.json
  shared/src/index.ts
  shared/src/libs/enums/enums.ts
  shared/src/libs/enums/exception-message.enum.ts
  shared/src/libs/enums/server-error-type.enum.ts
  shared/src/libs/exceptions/auth-error/auth-error.exception.ts
  shared/src/libs/exceptions/exceptions.ts
  shared/src/libs/packages/http/libs/enums/http-code.enum.ts
  shared/src/libs/types/server-error-response.type.ts
  shared/src/packages/auth/libs/enums/auth-api-path.enum.ts
  shared/src/packages/users/libs/types/types.ts
  shared/src/packages/users/users.ts
Labels: root, shared, backend, cp-v1, development

#64 cp-17: Protected routing
  backend/src/libs/packages/server-application/libs/helpers/get-error-info/get-error-info.helper.ts
  backend/src/libs/packages/server-application/libs/helpers/get-error-info/get-http-error-info.helper.ts
Labels: backend, cp-v1, development

#47 cp-38: Add Bottom Tab Navigation
  mobile/metro.config.js
  mobile/package.json
  mobile/src/assets/img/icons/home.svg
  mobile/src/libs/enums/enums.ts
  mobile/src/libs/enums/navigation/main-screen-name.enum.ts
  mobile/src/libs/enums/navigation/navigation.ts
  mobile/src/libs/enums/navigation/root-screen-name.enum.ts
  mobile/src/libs/types/index.d.ts
  mobile/src/libs/types/navigation/navigation.ts
  mobile/src/libs/types/navigation/root-navigation-parameter-list.type.ts
  mobile/src/libs/types/navigation/tab-navigation-parameter-list.type.ts
  mobile/src/libs/types/types.ts
  mobile/src/navigations/main/main.tsx
  mobile/src/navigations/main/styles.ts
  mobile/src/navigations/root/root.tsx
  mobile/src/screens/main/home.tsx
  package-lock.json
Labels: root, cp-v1, development, mobile

#63 cp-42: Add Sidebar
  frontend/src/assets/css/variables.scss
  frontend/src/assets/img/home.svg
  frontend/src/libs/components/app/app.tsx
  frontend/src/libs/components/app/styles.module.scss
  frontend/src/libs/components/sidebar/sidebar.tsx
  frontend/src/libs/components/sidebar/styles.module.scss
Labels: frontend, cp-v1, development

#69 cp-67: Add meditation tables
  backend/src/db/migrations/20230824184415_add_meditation_topics_table.ts
  backend/src/db/migrations/20230824185213_add_meditation_entries_table.ts
  backend/src/libs/packages/database/libs/enums/database-table-name.enum.ts
  backend/src/libs/packages/database/libs/enums/enums.ts
  backend/src/libs/packages/database/libs/enums/meditation-entries-table-column.enum.ts
  backend/src/libs/packages/database/libs/enums/meditation-topics-table-column.enum.ts
Labels: backend, cp-v1, development

#74 cp-29: Authenticated user flow
  backend/src/index.d.ts
  backend/src/libs/packages/controller/base-controller.package.ts
  backend/src/libs/packages/controller/libs/types/api-handler-options.type.ts
  backend/src/packages/auth/auth.controller.ts
  backend/src/packages/auth/auth.service.ts
  shared/src/packages/auth/libs/enums/auth-api-path.enum.ts
Labels: shared, backend, cp-v1, development

#40 cp-19: Authenticated user flow
  frontend/src/libs/components/app/app.tsx
  frontend/src/libs/components/protected-route/protected-route.tsx
  frontend/src/libs/hooks/hooks.ts
  frontend/src/libs/packages/api/base-http-api.ts
  frontend/src/libs/packages/api/libs/types/http-api-options.type.ts
  frontend/src/packages/auth/auth-api.ts
  frontend/src/packages/users/libs/types/types.ts
  frontend/src/packages/users/users-api.ts
  frontend/src/packages/users/users.ts
  frontend/src/slices/auth/actions.ts
  frontend/src/slices/auth/auth.slice.ts
  frontend/src/slices/auth/auth.ts
  shared/src/packages/users/libs/types/types.ts
  shared/src/packages/users/libs/types/user-auth-response-dto.type.ts
Labels: shared, frontend, cp-v1, development

#43 cp-15: Add sign up frontend
  backend/src/packages/users/user.service.ts
  frontend/public/images/auth-720x512.png
  frontend/src/assets/css/scaffolding.scss
  frontend/src/assets/css/variables.scss
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/button/styles.module.scss
  frontend/src/libs/components/input/input.tsx
  frontend/src/libs/components/input/styles.module.scss
  frontend/src/pages/auth/auth.tsx
  frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/pages/auth/components/sign-up-form/styles.module.scss
  frontend/src/pages/auth/styles.module.scss
  frontend/src/slices/auth/actions.ts
  frontend/src/slices/auth/auth.slice.ts
  shared/src/packages/users/libs/types/user-sign-up-request-dto.type.ts
Labels: shared, backend, frontend, cp-v1, development

#45 cp-23: Add Mobile Sign Up Page
  frontend/src/pages/auth/components/sign-up-form/libs/constants.ts
  mobile/src/assets/bottom-bubble.png
  mobile/src/assets/sign-background.png
  mobile/src/assets/top-bubble.png
  mobile/src/index.d.ts
  mobile/src/libs/components/app/app.tsx
  mobile/src/libs/components/button/button.tsx
  mobile/src/libs/components/button/styles.ts
  mobile/src/libs/components/components.tsx
  mobile/src/libs/components/input/input.tsx
  mobile/src/libs/components/input/styles.ts
  mobile/src/libs/components/link/link.tsx
  mobile/src/libs/components/link/styles.ts
  mobile/src/libs/components/sign-background/sign-background.tsx
  mobile/src/libs/components/sign-background/styles.ts
  mobile/src/libs/enums/ui/app-color.enum.ts
  mobile/src/libs/hooks/hooks.ts
  mobile/src/libs/packages/store/store.package.ts
  mobile/src/packages/users/libs/types/types.ts
  mobile/src/packages/users/users.ts
  mobile/src/screens/auth/auth.tsx
  mobile/src/screens/auth/components/label/label.tsx
  mobile/src/screens/auth/components/label/styles.ts
  mobile/src/screens/auth/components/sign-up-form/libs/constants.ts
  mobile/src/screens/auth/components/sign-up-form/sign-up-form.tsx
  mobile/src/screens/auth/components/sign-up-form/styles.ts
  mobile/src/slices/auth/actions.ts
  mobile/src/slices/auth/auth.slice.ts
  mobile/tsconfig.json
Labels: frontend, cp-v1, development, mobile

#79 cp-72: Swagger documentation is not public
  backend/src/libs/packages/server-application/base-server-application.ts
  backend/src/libs/packages/server-application/libs/constants/api.constants.ts
  backend/src/libs/packages/server-application/libs/helpers/check-is-white-route/check-is-white-route.helper.ts
  shared/src/libs/enums/api-path.enum.ts
Labels: shared, backend, cp-v1, development

#83 cp-76: Add Splash Screen
  mobile/android/app/src/main/java/com/calmpal/MainActivity.java
  mobile/android/app/src/main/res/drawable-hdpi/splash.png
  mobile/android/app/src/main/res/drawable-mdpi/splash.png
  mobile/android/app/src/main/res/drawable-xhdpi/splash.png
  mobile/android/app/src/main/res/drawable-xxhdpi/splash.png
  mobile/android/app/src/main/res/drawable-xxxhdpi/splash.png
  mobile/android/app/src/main/res/layout/launch_screen.xml
  mobile/android/app/src/main/res/values/colors.xml
  mobile/android/app/src/main/res/values/styles.xml
  mobile/package.json
  mobile/src/libs/components/app/app.tsx
  package-lock.json
Labels: root, cp-v1, development, mobile

#90 cp-14: Add sign up functionality
  backend/src/packages/auth/auth.service.ts
  backend/src/packages/users/user.repository.ts
  backend/src/packages/users/user.service.ts
  shared/src/libs/enums/exception-message.enum.ts
  shared/src/libs/packages/http/libs/enums/http-code.enum.ts
Labels: shared, backend, cp-v1, development

#94 cp-84: Clean up layout
  backend/src/libs/packages/server-application/server-application.ts
  backend/src/packages/users/libs/types/types.ts
  backend/src/packages/users/user.controller.ts
  backend/src/packages/users/user.repository.ts
  backend/src/packages/users/user.service.ts
  backend/src/packages/users/users.ts
  frontend/src/libs/components/app/app.tsx
  frontend/src/libs/components/components.ts
  frontend/src/libs/packages/store/store.package.ts
  frontend/src/packages/users/libs/types/types.ts
  frontend/src/packages/users/users-api.ts
  frontend/src/packages/users/users.ts
  frontend/src/pages/root/root.tsx
  frontend/src/slices/users/actions.ts
  frontend/src/slices/users/users.slice.ts
  frontend/src/slices/users/users.ts
Labels: backend, frontend, cp-v1, development

#96 cp-24: Mobile Authenticated User Flow
  backend/src/libs/packages/server-application/base-server-application.ts
  mobile/src/libs/hooks/hooks.ts
  mobile/src/libs/packages/api/base-http-api.ts
  mobile/src/libs/packages/http/libs/types/http-api-options.type.ts
  mobile/src/navigations/root/root.tsx
  mobile/src/packages/auth/auth-api.ts
  mobile/src/packages/users/users-api.ts
  mobile/src/slices/auth/actions.ts
  mobile/src/slices/auth/auth.slice.ts
  mobile/src/slices/auth/auth.ts
Labels: backend, cp-v1, development, mobile

#100 cp-99: Add Mobile App icon
  mobile/android/app/src/main/AndroidManifest.xml
  mobile/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  mobile/android/app/src/main/res/mipmap-hdpi/ic_launcher_background.png
  mobile/android/app/src/main/res/mipmap-hdpi/ic_launcher_foreground.png
  mobile/android/app/src/main/res/mipmap-hdpi/ic_launcher_monochrome.png
  mobile/android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  mobile/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  mobile/android/app/src/main/res/mipmap-mdpi/ic_launcher_background.png
  mobile/android/app/src/main/res/mipmap-mdpi/ic_launcher_foreground.png
  mobile/android/app/src/main/res/mipmap-mdpi/ic_launcher_monochrome.png
  mobile/android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  mobile/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  mobile/android/app/src/main/res/mipmap-xhdpi/ic_launcher_background.png
  mobile/android/app/src/main/res/mipmap-xhdpi/ic_launcher_foreground.png
  mobile/android/app/src/main/res/mipmap-xhdpi/ic_launcher_monochrome.png
  mobile/android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  mobile/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  mobile/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_background.png
  mobile/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.png
  mobile/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_monochrome.png
  mobile/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  mobile/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  mobile/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_background.png
  mobile/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.png
  mobile/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_monochrome.png
  mobile/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
Labels: cp-v1, development, mobile

#92 cp-25: Mobile Protected Routing
  mobile/src/libs/components/components.tsx
  mobile/src/libs/components/protected-route/protected-route.tsx
  mobile/src/libs/hooks/hooks.ts
  mobile/src/slices/auth/auth.slice.ts
Labels: cp-v1, development, conflicts, mobile

#35 cp-21: Implementing error handling
  frontend/package.json
  frontend/src/assets/css/scaffolding.scss
  frontend/src/assets/css/styles.scss
  frontend/src/index.tsx
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/toast/toast.tsx
  frontend/src/libs/packages/notification/libs/enums/enums.ts
  frontend/src/libs/packages/notification/libs/enums/notification-type.enum.ts
  frontend/src/libs/packages/notification/libs/types/notification-payload.type.ts
  frontend/src/libs/packages/notification/libs/types/types.ts
  frontend/src/libs/packages/notification/notification.package.ts
  frontend/src/libs/packages/notification/notification.ts
  frontend/src/libs/packages/store/libs/types/app-dispatch.type.ts
  frontend/src/libs/packages/store/libs/types/types.ts
  frontend/src/libs/packages/store/middlewares/middlewares.ts
  frontend/src/libs/packages/store/store.package.ts
  frontend/src/slices/app/actions.ts
  frontend/src/slices/app/app-notification.ts
  mobile/babel.config.js
  mobile/metro.config.js
  package-lock.json
Labels: root, frontend, cp-v1, development, mobile

#95 cp-81: Profile settings layout
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/input/input.tsx
  frontend/src/libs/components/switch/styles.module.scss
  frontend/src/libs/components/switch/switch.tsx
  frontend/src/libs/types/form/form.type.ts
  frontend/src/libs/types/types.ts
  frontend/src/pages/profile-settings/components/components.ts
  frontend/src/pages/profile-settings/components/setting/setting.tsx
  frontend/src/pages/profile-settings/components/setting/styles.module.scss
  frontend/src/pages/profile-settings/libs/constants.ts
  frontend/src/pages/profile-settings/profile-settings.tsx
  frontend/src/pages/profile-settings/styles.module.scss
  mobile/src/libs/components/input/input.tsx
  mobile/src/libs/types/types.ts
Labels: frontend, cp-v1, development, mobile

#106 cp-87: Sing up page improvements
  frontend/src/libs/components/button/styles.module.scss
  frontend/src/libs/components/input/styles.module.scss
  frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/pages/auth/components/sign-up-form/styles.module.scss
  frontend/src/pages/auth/styles.module.scss
Labels: frontend, cp-v1, development

#104 cp-98: Add hover effect on elements in sign up page
  frontend/src/assets/css/variables.scss
  frontend/src/libs/components/button/styles.module.scss
  frontend/src/pages/auth/components/sign-up-form/styles.module.scss
Labels: frontend, cp-v1, development

#48 cp-12: Add Sign In Flow
  backend/src/libs/exceptions/exceptions.ts
  backend/src/libs/packages/encrypt/base-encrypt.package.ts
  backend/src/libs/packages/encrypt/libs/types/encrypt.type.ts
  backend/src/libs/packages/server-application/libs/helpers/get-error-info/get-error-info.helper.ts
  backend/src/libs/packages/server-application/libs/helpers/get-error-info/get-users-error-info.helper.ts
  backend/src/libs/packages/server-application/libs/types/api-error.type.ts
  backend/src/packages/auth/auth.controller.ts
  backend/src/packages/auth/auth.service.ts
  backend/src/packages/users/libs/types/types.ts
  backend/src/packages/users/libs/types/user-common-query-response.ts
  backend/src/packages/users/libs/types/user-with-password-query-response.ts
  backend/src/packages/users/libs/validation-schemas/validation-schemas.ts
  backend/src/packages/users/user-with-password.entity.ts
  backend/src/packages/users/user.entity.ts
  backend/src/packages/users/user.model.ts
  backend/src/packages/users/user.repository.ts
  backend/src/packages/users/user.service.ts
  backend/src/packages/users/users.ts
  shared/src/index.ts
  shared/src/libs/enums/exception-message.enum.ts
  shared/src/libs/enums/server-error-type.enum.ts
  shared/src/libs/exceptions/exceptions.ts
  shared/src/libs/exceptions/users-error/users-error.exception.ts
  shared/src/libs/packages/http/libs/enums/http-code.enum.ts
  shared/src/libs/types/server-error-response.type.ts
  shared/src/packages/users/users.ts
Labels: shared, backend, cp-v1, development

#109 cp-108: Mobile Colors Improvement
  mobile/src/libs/components/button/styles.ts
  mobile/src/libs/components/input/styles.ts
  mobile/src/libs/components/sign-background/styles.ts
  mobile/src/libs/enums/ui/app-color.enum.ts
  mobile/src/navigations/main/main.tsx
  mobile/src/navigations/main/styles.ts
  mobile/src/screens/auth/components/label/styles.ts
Labels: cp-v1, development, mobile

#6 cp-4: Setup deployment for development environment
  .dockerignore
  .github/workflows/cd.yml
  .github/workflows/ci-docker-build.yml
  backend/.env.example
  backend/Dockerfile.development
  backend/package.json
  backend/src/libs/packages/config/base-config.package.ts
  backend/src/libs/packages/config/libs/types/environment-schema.type.ts
  backend/src/libs/packages/database/base-database.package.ts
  backend/src/libs/packages/server-application/base-server-application.ts
  backend/src/libs/packages/server-application/libs/constants/api.constants.ts
  backend/src/libs/packages/server-application/libs/helpers/check-is-white-route/check-is-white-route.helper.ts
  docker-compose.services.yml
  docker-compose.yml
  frontend/.env.example
  frontend/Dockerfile.development
  mobile/.env.example
  nginx/nginx.development.conf
  package-lock.json
  readme.md
  shared/src/libs/enums/app-environment.enum.ts
Labels: root, workflows, shared, backend, frontend, ENV, cp-v1, development

#62 cp-27: Error handling
  mobile/package.json
  mobile/src/libs/components/app/app.tsx
  mobile/src/libs/components/components.tsx
  mobile/src/libs/components/toast/styles.ts
  mobile/src/libs/components/toast/toast.tsx
  mobile/src/libs/packages/notification/libs/enums/enums.ts
  mobile/src/libs/packages/notification/libs/enums/notification-type.enum.ts
  mobile/src/libs/packages/notification/libs/types/notification-payload.ts
  mobile/src/libs/packages/notification/libs/types/notification-properties.ts
  mobile/src/libs/packages/notification/libs/types/types.ts
  mobile/src/libs/packages/notification/notification.package.ts
  mobile/src/libs/packages/notification/notification.ts
  mobile/src/libs/packages/store/libs/types/app-dispatch.ts
  mobile/src/libs/packages/store/libs/types/types.ts
  mobile/src/libs/packages/store/middlewares/handle-error.middleware.ts
  mobile/src/libs/packages/store/middlewares/middlewares.ts
  mobile/src/libs/packages/store/store.package.ts
  mobile/src/libs/packages/store/store.ts
  mobile/src/slices/app/actions.ts
  mobile/src/slices/app/notifications.slice.ts
  mobile/src/slices/app/notifications.ts
  package-lock.json
Labels: root, cp-v1, development, mobile

#117 cp-112: Sign in response
  backend/src/libs/packages/jwt/jwt.ts
  backend/src/packages/auth/auth.controller.ts
  backend/src/packages/auth/auth.service.ts
  backend/src/packages/auth/auth.ts
  backend/src/packages/users/user.repository.ts
  shared/src/packages/users/libs/types/user-auth-response-dto.type.ts
  shared/src/packages/users/libs/types/user-get-all-response-dto.type.ts
  shared/src/packages/users/libs/types/user-sign-in-response-dto.type.ts
  shared/src/packages/users/libs/types/user-sign-up-response-dto.type.ts
Labels: shared, backend, cp-v1, development

#119 cp-115: Add try catch to authorization token decode
  backend/src/libs/plugins/authorization/authorization.plugin.ts
Labels: backend, cp-v1, development

#59 cp-22: Add Mobile Sign In Page
  mobile/android/gradlew.bat
  mobile/src/packages/auth/auth-api.ts
  mobile/src/packages/users/libs/types/types.ts
  mobile/src/packages/users/libs/validation-schemas/validation-schemas.ts
  mobile/src/packages/users/users.ts
  mobile/src/screens/auth/auth.tsx
  mobile/src/screens/auth/components/sign-in-form/libs/constants.ts
  mobile/src/screens/auth/components/sign-in-form/sign-in-form.tsx
  mobile/src/screens/auth/components/sign-in-form/styles.ts
  mobile/src/slices/auth/actions.ts
  mobile/src/slices/auth/auth.slice.ts
  mobile/src/slices/auth/auth.ts
  shared/src/packages/users/users.ts
Labels: shared, cp-v1, development, mobile

#44 cp-13: Add sign in frontend
  frontend/src/packages/auth/auth-api.ts
  frontend/src/packages/users/libs/types/types.ts
  frontend/src/packages/users/libs/validation-schemas/validation-schemas.ts
  frontend/src/packages/users/users.ts
  frontend/src/pages/auth/auth.tsx
  frontend/src/pages/auth/components/sign-in-form/libs/constants.ts
  frontend/src/pages/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/pages/auth/components/sign-in-form/styles.module.scss
  frontend/src/slices/auth/actions.ts
  frontend/src/slices/auth/auth.slice.ts
  frontend/src/slices/auth/auth.ts
Labels: frontend, cp-v1, development

#126 cp-125: Add hover effect to link
  frontend/src/pages/auth/components/sign-in-form/styles.module.scss
Labels: bug, frontend, cp-v1, development

#120 cp-50: Fix survey response
  backend/src/libs/types/repository.type.ts
  backend/src/packages/surveys/libs/validation-schemas/validation-schemas.ts
  backend/src/packages/surveys/survey.controller.ts
  backend/src/packages/surveys/survey.repository.ts
  backend/src/packages/surveys/survey.service.ts
  package-lock.json
  shared/src/index.ts
  shared/src/packages/surveys/libs/enums/enums.ts
  shared/src/packages/surveys/libs/enums/survey-validation-message.enum.ts
  shared/src/packages/surveys/libs/enums/survey-validation-rule.enum.ts
  shared/src/packages/surveys/libs/validation-schemas/create-survey.validation-schema.ts
  shared/src/packages/surveys/libs/validation-schemas/validation-schemas.ts
  shared/src/packages/surveys/surveys.ts
Labels: root, shared, backend, development

#127 cp-121: Update swagger documentation
  backend/src/packages/auth/auth.controller.ts
Labels: backend, cp-v1, development

#136 cp-76: Add Splash Screen
  mobile/android/app/src/main/res/values/styles.xml
Labels: cp-v1, development, mobile

#139 cp-19: Fix error is shown when unauthenticated user opens the web app for the first time
  frontend/src/slices/auth/actions.ts
Labels: bug, frontend, development

#135 cp-129: The loader shouldn't be shown instead of form when the user presses sign in/sign up button
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/button/styles.module.scss
  frontend/src/pages/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/slices/auth/auth.slice.ts
Labels: frontend, cp-v1, development

#73 cp-51: Add Mobile Preferences Step
  mobile/src/libs/components/button/button.tsx
  mobile/src/libs/components/button/styles.ts
  mobile/src/libs/components/components.tsx
  mobile/src/libs/components/input/input.tsx
  mobile/src/libs/components/input/styles.ts
  mobile/src/libs/components/loader/loader.tsx
  mobile/src/libs/enums/navigation/root-screen-name.enum.ts
  mobile/src/libs/hooks/use-app-form/use-app-form.hook.ts
  mobile/src/libs/types/navigation/root-navigation-parameter-list.type.ts
  mobile/src/libs/types/types.ts
  mobile/src/navigations/root/root.tsx
  mobile/src/packages/auth/auth-api.ts
  mobile/src/packages/survey/libs/enums/enums.ts
  mobile/src/packages/survey/libs/helpers/helpers.ts
  mobile/src/packages/survey/libs/types/types.ts
  mobile/src/packages/survey/libs/validation-shemas/validation-schemas.ts
  mobile/src/packages/survey/survey.ts
  mobile/src/screens/survey/components/components.tsx
  mobile/src/screens/survey/components/preferences-step/preferences-step.tsx
  mobile/src/screens/survey/components/preferences-step/styles.ts
  mobile/src/screens/survey/components/survey-category/styles.ts
  mobile/src/screens/survey/components/survey-category/survey-category.tsx
  mobile/src/screens/survey/libs/constants.ts
  mobile/src/screens/survey/styles.ts
  mobile/src/screens/survey/survey.tsx
  mobile/src/slices/auth/actions.ts
  mobile/src/slices/auth/auth.slice.ts
  mobile/src/slices/auth/auth.ts
  mobile/src/slices/auth/libs/constants.ts
  mobile/src/types/images.d.ts
  shared/src/index.ts
  shared/src/packages/surveys/libs/constants/constants.ts
  shared/src/packages/surveys/libs/enums/survey-validation-message.enum.ts
  shared/src/packages/surveys/libs/helpers/get-survey-categories.helper.ts
  shared/src/packages/surveys/libs/helpers/helpers.ts
  shared/src/packages/surveys/libs/types/survey-input-dto.types.ts
  shared/src/packages/surveys/libs/types/types.ts
  shared/src/packages/surveys/libs/validation-schemas/create-survey-form.validation-schema.ts
  shared/src/packages/surveys/libs/validation-schemas/validation-schemas.ts
  shared/src/packages/surveys/surveys.ts
Labels: shared, cp-v1, development, mobile
