Repository BinaryStudioAcademy/bsa-2023-calmpal, pull requests merged in 2023-09, with the labels that each got.

#111 cp-32: [BUG] Header component is not responsive in Safari browser
  frontend/src/assets/css/scaffolding.scss
  frontend/src/libs/components/header/styles.module.scss
  package-lock.json
Labels: bug, root, frontend, cp-v1, development

#141 cp-128: [BUG] Error is displayed on the 'Sign Up' screen after redirection from 'Sign in' screen#128
  mobile/src/slices/auth/actions.ts
  mobile/src/slices/users/actions.ts
  mobile/src/slices/users/users.slice.ts
Labels: bug, cp-v1, development, mobile

#137 cp-131: Fix Mobile Text Input Field When Error
  mobile/src/libs/components/input/input.tsx
  mobile/src/libs/components/input/styles.ts
Labels: bug, cp-v1, development, mobile

#88 cp-70: Add file uploading functionality
  backend/.env.example
  backend/package.json
  backend/src/db/migrations/20230825192010_add_files_table.ts
  backend/src/index.d.ts
  backend/src/libs/enums/enums.ts
  backend/src/libs/exceptions/exceptions.ts
  backend/src/libs/helpers/helpers.ts
  backend/src/libs/packages/config/base-config.package.ts
  backend/src/libs/packages/config/libs/types/environment-schema.type.ts
  backend/src/libs/packages/controller/base-controller.package.ts
  backend/src/libs/packages/controller/libs/enums/controller-hook.enum.ts
  backend/src/libs/packages/controller/libs/types/api-handler-options.type.ts
  backend/src/libs/packages/database/libs/enums/database-table-name.enum.ts
  backend/src/libs/packages/database/libs/enums/enums.ts
  backend/src/libs/packages/database/libs/enums/files-table-column.enum.ts
  backend/src/libs/packages/s3/libs/constants/constants.ts
  backend/src/libs/packages/s3/libs/types/types.ts
  backend/src/libs/packages/s3/s3.package.ts
  backend/src/libs/packages/s3/s3.ts
  backend/src/libs/packages/server-application/base-server-application.ts
  backend/src/libs/packages/server-application/libs/helpers/get-error-info/get-error-info.helper.ts
  backend/src/libs/packages/server-application/libs/helpers/get-error-info/get-file-error-info.helper.ts
  backend/src/libs/packages/server-application/server-application.ts
  backend/src/libs/plugins/file-upload/file-upload.plugin.ts
  backend/src/libs/plugins/plugins.ts
  backend/src/packages/files/file.controller.ts
  backend/src/packages/files/file.entity.ts
  backend/src/packages/files/file.model.ts
  backend/src/packages/files/file.repository.ts
  backend/src/packages/files/file.service.ts
  backend/src/packages/files/files.ts
  backend/src/packages/files/libs/enums/enums.ts
  backend/src/packages/files/libs/types/file-common-query-response.ts
  backend/src/packages/files/libs/types/file-create-query-payload.ts
  backend/src/packages/files/libs/types/types.ts
  package-lock.json
  shared/src/index.ts
  shared/src/libs/enums/api-path.enum.ts
  shared/src/libs/enums/content-type.enum.ts
  shared/src/libs/enums/exception-message.enum.ts
  shared/src/libs/enums/server-error-type.enum.ts
  shared/src/libs/exceptions/exceptions.ts
  shared/src/libs/exceptions/file-error/file-error.exception.ts
  shared/src/libs/helpers/helpers.ts
  shared/src/libs/helpers/replace-template-with-value/replace-template-with-value.helper.ts
  shared/src/libs/types/server-error-response.type.ts
  shared/src/packages/files/files.ts
  shared/src/packages/files/libs/enums/enums.ts
  shared/src/packages/files/libs/enums/files-api-path.enum.ts
  shared/src/packages/files/libs/types/file-get-all-item-response-dto.type.ts
  shared/src/packages/files/libs/types/file-upload-request-dto.type.ts
  shared/src/packages/files/libs/types/file-upload-response-dto.type.ts
  shared/src/packages/files/libs/types/s3-file-upload-request-dto.ts
  shared/src/packages/files/libs/types/types.ts
Labels: root, shared, backend, ENV, cp-v1, development

#132 cp-123: Fix not navigate to main page after sign-in/up
  frontend/src/libs/components/app/app.tsx
  frontend/src/libs/packages/store/store.package.ts
  frontend/src/slices/app/app.slice.ts
  frontend/src/slices/app/app.ts
  frontend/src/slices/auth/actions.ts
Labels: bug, frontend, cp-v1, development, conflicts

#80 cp-54: Chat screen
  mobile/package.json
  mobile/src/assets/img/bottom-bubble.png
  mobile/src/assets/img/card-image-placeholder.png
  mobile/src/assets/img/icons/chat.svg
  mobile/src/assets/img/icons/home.svg
  mobile/src/assets/img/icons/plus.svg
  mobile/src/assets/img/sign-background.png
  mobile/src/assets/img/top-bubble.png
  mobile/src/libs/components/card/card.tsx
  mobile/src/libs/components/card/libs/constants.ts
  mobile/src/libs/components/card/styles.ts
  mobile/src/libs/components/components.tsx
  mobile/src/libs/components/input-search/input-search.tsx
  mobile/src/libs/components/input-search/libs/constants.ts
  mobile/src/libs/components/input-search/styles.ts
  mobile/src/libs/components/link/link.tsx
  mobile/src/libs/components/sign-background/sign-background.tsx
  mobile/src/libs/enums/navigation/main-screen-name.enum.ts
  mobile/src/libs/helpers/helpers.ts
  mobile/src/libs/hooks/hooks.ts
  mobile/src/libs/hooks/use-app-form/use-app-form.hook.ts
  mobile/src/libs/hooks/use-search/libs/constants.ts
  mobile/src/libs/hooks/use-search/use-search.hook.ts
  mobile/src/libs/types/index.d.ts
  mobile/src/libs/types/navigation/tab-navigation-parameter-list.type.ts
  mobile/src/navigations/main/main.tsx
  mobile/src/navigations/main/styles.ts
  mobile/src/screens/chat-list/chat-list.tsx
  mobile/src/screens/chat-list/components/badge/badge.tsx
  mobile/src/screens/chat-list/components/badge/styles.ts
  mobile/src/screens/chat-list/components/components.tsx
  mobile/src/screens/chat-list/libs/data.json
  mobile/src/screens/chat-list/styles.ts
  mobile/src/screens/home/home.tsx
  package-lock.json
  shared/package.json
  shared/src/index.ts
  shared/src/libs/helpers/debounce/debounce.helper.ts
  shared/src/libs/helpers/debounce/libs/constants.ts
  shared/src/libs/helpers/helpers.ts
Labels: root, shared, cp-v1, development, mobile

#152 cp-81: Profile settings layout
  frontend/src/libs/components/switch/styles.module.scss
  frontend/src/libs/components/switch/switch.tsx
Labels: frontend, cp-v1, development

#146 cp-145: Replace App Logo
  mobile/android/app/src/main/res/drawable-hdpi/splash.png
  mobile/android/app/src/main/res/drawable-mdpi/splash.png
  mobile/android/app/src/main/res/drawable-xhdpi/splash.png
  mobile/android/app/src/main/res/drawable-xxhdpi/splash.png
  mobile/android/app/src/main/res/drawable-xxxhdpi/splash.png
  mobile/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  mobile/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  mobile/android/app/src/main/res/mipmap-hdpi/ic_launcher_foreground.png
  mobile/android/app/src/main/res/mipmap-hdpi/ic_launcher_monochrome.png
  mobile/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  mobile/android/app/src/main/res/mipmap-mdpi/ic_launcher_foreground.png
  mobile/android/app/src/main/res/mipmap-mdpi/ic_launcher_monochrome.png
  mobile/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  mobile/android/app/src/main/res/mipmap-xhdpi/ic_launcher_foreground.png
  mobile/android/app/src/main/res/mipmap-xhdpi/ic_launcher_monochrome.png
  mobile/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  mobile/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.png
  mobile/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_monochrome.png
  mobile/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  mobile/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.png
  mobile/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_monochrome.png
  mobile/src/assets/img/logo.png
  mobile/src/screens/auth/components/label/label.tsx
  mobile/src/screens/auth/components/label/styles.ts
  package-lock.json
Labels: root, cp-v1, development, mobile

#169 cp-163: Add hover effect over buttons on the Survey page
  frontend/src/assets/css/variables.scss
  frontend/src/libs/components/button/styles.module.scss
  frontend/src/libs/components/checkbox/styles.module.scss
Labels: frontend, development

#110 cp-91: Add sidebar css to follow the scroll
  frontend/src/libs/components/sidebar-wrapper/styles.module.scss
  frontend/src/libs/components/sidebar/styles.module.scss
Labels: bug, frontend, cp-v1, development

#165 cp-148: Remove loader from button
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/button/styles.module.scss
  frontend/src/pages/surveys/components/preferences-step/preferences-step.tsx
Labels: frontend, cp-v1, development

#175 cp-174: Add arrow body style eslint rule with accomodation of existing changes
  .eslintrc.yml
  backend/src/libs/packages/controller/base-controller.package.ts
  backend/src/libs/packages/server-application/base-server-application-api.ts
  backend/src/libs/packages/server-application/base-server-application.ts
  backend/src/libs/packages/server-application/libs/helpers/get-error-info/get-validation-error-info.helper.ts
  backend/src/packages/auth/auth.controller.ts
  backend/src/packages/files/file.controller.ts
  backend/src/packages/surveys/survey.controller.ts
  backend/src/packages/users/user.service.ts
  frontend/src/libs/components/app/app.tsx
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/dropdown-menu/dropdown-menu.tsx
  frontend/src/libs/components/protected-route/protected-route.tsx
  frontend/src/libs/components/router-provider/router-provider.tsx
  frontend/src/libs/helpers/get-valid-class-names.ts
  frontend/src/libs/hooks/use-app-dispatch/use-app-dispatch.hook.ts
  frontend/src/libs/packages/store/store.package.ts
  frontend/src/pages/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/pages/surveys/components/preferences-step/preferences-step.tsx
  frontend/src/pages/surveys/survey.tsx
  mobile/src/libs/components/protected-route/protected-route.tsx
  mobile/src/libs/components/toast/toast.tsx
  mobile/src/libs/hooks/use-app-dispatch/use-app-dispatch.hook.ts
  mobile/src/libs/hooks/use-search/use-search.hook.ts
  mobile/src/libs/packages/api/base-http-api.ts
  mobile/src/libs/packages/store/store.package.ts
  mobile/src/navigations/root/root.tsx
  mobile/src/screens/auth/auth.tsx
  mobile/src/screens/chat-list/chat-list.tsx
  mobile/src/screens/home/home.tsx
  mobile/src/screens/survey/components/preferences-step/preferences-step.tsx
  mobile/src/screens/survey/survey.tsx
  shared/src/packages/surveys/libs/helpers/get-survey-categories.helper.ts
Labels: shared, backend, frontend, development, mobile

#68 cp-60: Add Mobile Chat Layout
  mobile/src/assets/img/icons/back-arrow.svg
  mobile/src/assets/img/icons/send.svg
  mobile/src/libs/components/card/card.tsx
  mobile/src/libs/components/components.tsx
  mobile/src/libs/components/header/components/back-button/back-button.tsx
  mobile/src/libs/components/header/components/back-button/styles.ts
  mobile/src/libs/components/header/components/badge/badge.tsx
  mobile/src/libs/components/header/components/badge/styles.ts
  mobile/src/libs/components/header/components/components.tsx
  mobile/src/libs/components/header/header.tsx
  mobile/src/libs/components/header/libs/constants.ts
  mobile/src/libs/components/header/styles.ts
  mobile/src/libs/components/linear-gradient/linear-gradient.tsx
  mobile/src/libs/components/linear-gradient/styles.ts
  mobile/src/libs/components/protected-route/protected-route.tsx
  mobile/src/libs/enums/enums.ts
  mobile/src/libs/enums/navigation/chat-screen-name.enum.ts
  mobile/src/libs/enums/navigation/navigation.ts
  mobile/src/libs/types/navigation/chat-navigation-parameter-list.type.ts
  mobile/src/libs/types/navigation/navigation.ts
  mobile/src/libs/types/types.ts
  mobile/src/navigations/chat/chat.tsx
  mobile/src/navigations/main/main.tsx
  mobile/src/navigations/main/styles.ts
  mobile/src/navigations/navigations.tsx
  mobile/src/screens/chat-list/chat-list.tsx
  mobile/src/screens/chat-list/components/components.tsx
  mobile/src/screens/chat-list/styles.ts
  mobile/src/screens/chat/chat.tsx
  mobile/src/screens/chat/components/chat-input/chat-input.tsx
  mobile/src/screens/chat/components/chat-input/styles.ts
  mobile/src/screens/chat/components/components.tsx
  mobile/src/screens/chat/components/message-item/message-item.tsx
  mobile/src/screens/chat/components/message-item/styles.ts
  mobile/src/screens/chat/libs/constants.ts
  mobile/src/screens/chat/styles.ts
Labels: cp-v1, development, mobile

#77 cp-55: Add chat sidebar
  frontend/package.json
  frontend/src/assets/icons/arrow.svg
  frontend/src/assets/icons/plus.svg
  frontend/src/assets/img/card-image-placeholder.png
  frontend/src/libs/components/card/card.tsx
  frontend/src/libs/components/card/styles.module.scss
  frontend/src/libs/components/chat-sidebar/chat-sidebar.tsx
  frontend/src/libs/components/chat-sidebar/styles.module.scss
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/icon/icon.tsx
  frontend/src/libs/components/search/libs/constants.ts
  frontend/src/libs/components/search/search.tsx
  frontend/src/libs/components/search/styles.module.scss
  frontend/src/libs/enums/enums.ts
  frontend/src/libs/enums/icon-color.enum.ts
  frontend/src/libs/helpers/helpers.ts
  frontend/src/libs/hooks/hooks.ts
  frontend/src/libs/hooks/use-search/use-search.hook.ts
  frontend/src/libs/maps/icon-name-to-plain-svg.tsx
  frontend/src/libs/types/icon-name.type.ts
  frontend/src/libs/types/types.ts
  frontend/src/libs/types/use-search/use-search-return.type.ts
  frontend/src/vite-env.d.ts
  frontend/vite.config.ts
  package-lock.json
Labels: root, frontend, cp-v1, development

#149 cp-142: Clean up layout#142
  mobile/src/libs/packages/store/store.package.ts
  mobile/src/packages/users/users-api.ts
  mobile/src/packages/users/users.ts
  mobile/src/screens/auth/auth.tsx
  mobile/src/slices/users/actions.ts
  mobile/src/slices/users/users.slice.ts
  mobile/src/slices/users/users.ts
Labels: cp-v1, development, mobile

#172 cp-145: Replace App Logo
  mobile/src/assets/img/logo.png
  mobile/src/assets/img/logo.svg
  mobile/src/screens/auth/components/label/label.tsx
  mobile/src/screens/auth/components/label/styles.ts
Labels: cp-v1, development, mobile

#179 cp-176: Add swagger documentation for file/upload route
  backend/src/packages/files/file.controller.ts
Labels: backend, development, cp-v2

#184 cp-183: Add chat button
  frontend/src/assets/icons/chat.svg
  frontend/src/index.tsx
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/sidebar-wrapper/libs/constants.ts
  frontend/src/libs/enums/app-route.enum.ts
  frontend/src/pages/chat/chat.tsx
  frontend/src/pages/chat/components/chat-sidebar/chat-sidebar.tsx
  frontend/src/pages/chat/components/chat-sidebar/styles.module.scss
  frontend/src/pages/chat/components/components.ts
Labels: frontend, development, cp-v2

#185 cp-181: Add link padding
  frontend/src/libs/components/sidebar/styles.module.scss
Labels: frontend, development, cp-v2

#93 cp-82: Add user profile sidebar
  frontend/src/assets/icons/home.svg
  frontend/src/assets/icons/profile.svg
  frontend/src/assets/img/avatar-placeholder.png
  frontend/src/index.tsx
  frontend/src/libs/components/sidebar-wrapper/libs/constants.ts
  frontend/src/pages/dashboard/components/components.ts
  frontend/src/pages/dashboard/components/user-profile-info/styles.module.scss
  frontend/src/pages/dashboard/components/user-profile-info/user-profile-info.tsx
  frontend/src/pages/dashboard/dashboard.tsx
Labels: frontend, cp-v1, development

#140 cp-71: Add meditation list layout
  frontend/package.json
  frontend/src/assets/css/variables.scss
  frontend/src/assets/icons/chats.svg
  frontend/src/assets/icons/home.svg
  frontend/src/assets/icons/meditation.svg
  frontend/src/assets/icons/play.svg
  frontend/src/assets/img/logo.svg
  frontend/src/assets/img/meditation-list-placeholder.jpg
  frontend/src/assets/img/react.svg
  frontend/src/index.tsx
  frontend/src/libs/components/icon/icon.tsx
  frontend/src/libs/components/icon/libs/maps/icon-name-to-icon.tsx
  frontend/src/libs/components/sidebar-wrapper/libs/constants.ts
  frontend/src/libs/components/sidebar/sidebar.tsx
  frontend/src/libs/enums/app-route.enum.ts
  frontend/src/libs/maps/icon-name-to-plain-svg.tsx
  frontend/src/libs/types/icon-name.type.ts
  frontend/src/libs/types/route/route.type.ts
  frontend/src/pages/meditation/libs/constants/constants.ts
  frontend/src/pages/meditation/libs/types/meditation-entry.type.ts
  frontend/src/pages/meditation/libs/types/types.ts
  frontend/src/pages/meditation/meditation-list/meditation-entry/meditation-entry.tsx
  frontend/src/pages/meditation/meditation-list/meditation-entry/styles.module.scss
  frontend/src/pages/meditation/meditation-list/meditation-list.tsx
  frontend/src/pages/meditation/meditation-list/styles.module.scss
  frontend/src/pages/meditation/meditation.tsx
Labels: frontend, cp-v1, development

#166 cp-52: Add user roles table
  backend/src/db/migrations/20230826083159_add_user_roles_table.ts
  backend/src/db/migrations/20230826133720_add_role_id_to_users_table.ts
  backend/src/libs/packages/database/libs/enums/database-table-name.enum.ts
  backend/src/libs/packages/database/libs/enums/enums.ts
  backend/src/libs/packages/database/libs/enums/user-roles-table-column.enum.ts
Labels: backend, cp-v1, development

#162 cp-143: replace app logo with updated one
  frontend/index.html
  frontend/public/android-chrome-192x192.png
  frontend/public/android-chrome-512x512.png
  frontend/public/apple-touch-icon.png
  frontend/public/browserconfig.xml
  frontend/public/favicon-16x16.png
  frontend/public/favicon-32x32.png
  frontend/public/favicon.ico
  frontend/public/mstile-144x144.png
  frontend/public/mstile-150x150.png
  frontend/public/mstile-310x150.png
  frontend/public/mstile-310x310.png
  frontend/public/mstile-70x70.png
  frontend/public/safari-pinned-tab.svg
  frontend/src/assets/img/logo-m.svg
  frontend/src/assets/img/logo-s.svg
  frontend/src/assets/img/logo-xl.svg
  frontend/src/assets/img/logo-xs.svg
  frontend/src/libs/components/sidebar/sidebar.tsx
  frontend/src/libs/components/sidebar/styles.module.scss
  frontend/src/pages/auth/auth.tsx
  frontend/src/pages/auth/styles.module.scss
  package-lock.json
Labels: root, frontend, cp-v1, development

#164 cp-150: Renamed chat list to chat
  mobile/src/libs/enums/navigation/main-screen-name.enum.ts
  mobile/src/libs/types/navigation/tab-navigation-parameter-list.type.ts
  mobile/src/navigations/main/main.tsx
Labels: bug, development, mobile

#114 cp-78: Add meditation player layout
  frontend/src/assets/icons/audio-player-play.svg
  frontend/src/assets/icons/backward.svg
  frontend/src/assets/icons/forward.svg
  frontend/src/assets/icons/next.svg
  frontend/src/assets/icons/pause.svg
  frontend/src/assets/icons/play.svg
  frontend/src/assets/icons/previous.svg
  frontend/src/assets/img/meditation-image-placeholder.jpg
  frontend/src/assets/img/meditation-player-background-mobile.png
  frontend/src/assets/img/meditation-player-background.png
  frontend/src/libs/components/audio-player/audio-player.tsx
  frontend/src/libs/components/audio-player/components/audio-controls/audio-controls.tsx
  frontend/src/libs/components/audio-player/components/audio-controls/styles.module.scss
  frontend/src/libs/components/audio-player/components/progress-bar/progress-bar.tsx
  frontend/src/libs/components/audio-player/components/progress-bar/styles.module.scss
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/button/styles.module.scss
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/icon/icon.tsx
  frontend/src/libs/components/icon/libs/maps/icon-name-to-icon.map.ts
  frontend/src/libs/helpers/helpers.ts
  frontend/src/libs/hooks/hooks.ts
  frontend/src/libs/types/icon-name.type.ts
  frontend/src/libs/types/meditation-player/meditation-player.type.ts
  frontend/src/libs/types/types.ts
  frontend/src/pages/meditation/components/meditation-player/meditation-player.tsx
  frontend/src/pages/meditation/components/meditation-player/styles.module.scss
  frontend/src/pages/meditation/constants/constants.ts
  package-lock.json
  shared/package.json
  shared/src/index.ts
  shared/src/libs/helpers/date/date.ts
  shared/src/libs/helpers/date/get-formatted-date/get-formatted-date.helper.ts
  shared/src/libs/helpers/date/get-formatted-time/get-formatted-time.helper.ts
  shared/src/libs/helpers/date/libs/constants/constants.ts
  shared/src/libs/helpers/date/libs/enums/time-format.enum.ts
  shared/src/libs/helpers/helpers.ts
Labels: root, shared, frontend, cp-v1, development, conflicts

#201 cp-60: Add Mobile Chat Layout
  mobile/src/assets/img/icons/chat-avatar.svg
  mobile/src/screens/chat/chat.tsx
  mobile/src/screens/chat/components/message-item/message-item.tsx
  mobile/src/screens/chat/components/message-item/styles.ts
  mobile/src/screens/chat/libs/constants.ts
  mobile/src/screens/chat/styles.ts
Labels: cp-v1, development, mobile

#206 cp-199: Remove Mobile Survey Sign In Link
  mobile/src/screens/survey/components/preferences-step/styles.ts
  mobile/src/screens/survey/styles.ts
  mobile/src/screens/survey/survey.tsx
Labels: bug, development, mobile, cp-v2

#211 cp-124: Change Names Of Buttons And Links
  frontend/src/pages/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
  mobile/src/screens/auth/components/sign-in-form/sign-in-form.tsx
  mobile/src/screens/auth/components/sign-up-form/sign-up-form.tsx
Labels: frontend, development, mobile, cp-v2

#219 cp-216: Update Search Input Behavior
  mobile/src/libs/components/input-search/input-search.tsx
  mobile/src/libs/components/input-search/styles.ts
Labels: development, mobile

#158 cp-138: Restyle Loading Screen
  mobile/android/app/src/main/res/values/styles.xml
  mobile/src/libs/components/app/app.tsx
  mobile/src/libs/components/app/libs/constants.ts
  mobile/src/libs/components/loader/styles.ts
  mobile/src/libs/types/navigation/navigation-item.type.ts
  mobile/src/libs/types/navigation/navigation.ts
  mobile/src/libs/types/types.ts
  mobile/src/navigations/root/libs/constants.ts
  mobile/src/navigations/root/root.tsx
  mobile/src/screens/survey/survey.tsx
Labels: cp-v1, development, mobile

#210 cp-207: Add Question Title To Mobile Survey
  mobile/src/screens/survey/styles.ts
  mobile/src/screens/survey/survey.tsx
Labels: bug, development, mobile, cp-v2

#205 cp-113: Add Mobile Profile Settings
  mobile/src/assets/img/icons/back-arrow.svg
  mobile/src/assets/img/icons/bell.svg
  mobile/src/assets/img/icons/user.svg
  mobile/src/libs/components/button/button.tsx
  mobile/src/libs/components/card/card.tsx
  mobile/src/libs/components/card/styles.ts
  mobile/src/libs/components/components.tsx
  mobile/src/libs/components/header/header.tsx
  mobile/src/libs/components/header/styles.ts
  mobile/src/libs/components/icon-button/icon-button.tsx
  mobile/src/libs/components/icon-button/styles.ts
  mobile/src/libs/components/icon/icon.tsx
  mobile/src/libs/components/icon/libs/maps/icon-name-to-icon.map.ts
  mobile/src/libs/components/icon/libs/maps/maps.ts
  mobile/src/libs/components/switch/styles.ts
  mobile/src/libs/components/switch/switch.tsx
  mobile/src/libs/enums/enums.ts
  mobile/src/libs/enums/navigation/navigation.ts
  mobile/src/libs/enums/navigation/profile-screen-name.enum.ts
  mobile/src/libs/enums/navigation/root-screen-name.enum.ts
  mobile/src/libs/types/icon-name.type.ts
  mobile/src/libs/types/navigation/navigation.ts
  mobile/src/libs/types/navigation/profile-navigation-parameter-list.type.ts
  mobile/src/libs/types/navigation/root-navigation-parameter-list.type.ts
  mobile/src/libs/types/types.ts
  mobile/src/navigations/navigations.tsx
  mobile/src/navigations/root/libs/constants.ts
  mobile/src/navigations/user-profile/user-profile.tsx
  mobile/src/screens/chat-list/chat-list.tsx
  mobile/src/screens/chat/components/chat-input/styles.ts
  mobile/src/screens/chat/components/message-item/styles.ts
  mobile/src/screens/notification-settings/components/components.ts
  mobile/src/screens/notification-settings/components/setting/setting.tsx
  mobile/src/screens/notification-settings/components/setting/styles.ts
  mobile/src/screens/notification-settings/libs/constants.ts
  mobile/src/screens/notification-settings/notification-settings.tsx
  mobile/src/screens/notification-settings/styles.ts
  mobile/src/screens/profile/profile.tsx
  mobile/src/screens/profile/styles.ts
Labels: development, mobile, cp-v2

#228 cp-221: Improve Mobile Scrollbar
  mobile/src/libs/components/sign-background/styles.ts
  mobile/src/screens/auth/components/sign-in-form/styles.ts
  mobile/src/screens/auth/components/sign-up-form/sign-up-form.tsx
  mobile/src/screens/auth/components/sign-up-form/styles.ts
  mobile/src/screens/survey/components/preferences-step/styles.ts
  mobile/src/screens/survey/styles.ts
Labels: bug, development, mobile, cp-v2

#229 cp-212: Change Success notifications style
  frontend/src/assets/css/scaffolding.scss
Labels: frontend, development, cp-v2

#225 cp-217: Add Success Toast Styles
  mobile/src/libs/components/toast/styles.ts
  mobile/src/libs/components/toast/toast.tsx
  mobile/src/libs/enums/ui/app-color.enum.ts
  mobile/src/libs/packages/notification/notification.package.ts
Labels: development, mobile, cp-v2

#231 cp-204: Remove root path on root component
  frontend/src/index.tsx
Labels: frontend, development, cp-v2

#230 cp-167: Add Mobile Sign Out
  mobile/src/assets/img/icons/sign-out.svg
  mobile/src/libs/components/icon/libs/maps/icon-name-to-icon.map.ts
  mobile/src/libs/types/icon-name.type.ts
  mobile/src/screens/profile/profile.tsx
  mobile/src/slices/auth/actions.ts
  mobile/src/slices/auth/auth.slice.ts
  mobile/src/slices/auth/auth.ts
Labels: development, mobile, cp-v2

#224 cp-150: Rename Chat List Title
  mobile/src/screens/chat-list/chat-list.tsx
Labels: bug, development, conflicts, mobile, cp-v2

#220 cp-218: Add Improvements To Meditation Screen
  mobile/src/libs/enums/ui/app-color.enum.ts
  mobile/src/screens/meditation-home/styles.ts
  mobile/src/screens/meditation-list/components/meditation-item/styles.ts
  mobile/src/screens/meditation-list/styles.ts
Labels: development, mobile, cp-v2

#227 cp-187: User Not Found Appearance
  backend/src/packages/users/user.model.ts
Labels: bug, backend, development, cp-v2

#235 cp-233: Fixed padding on journal entry
  frontend/src/libs/components/card/styles.module.scss
Labels: bug, frontend, development, cp-v2

#238 cp-10: Add codemagic config with accomodating building of android configuration
  codemagic.yaml
  mobile/android/app/build.gradle
Labels: root, development, mobile

#241 cp-9: Add application deployment schema
  docs/application-architecture/application-schema.drawio.svg
  readme.md
Labels: root, development

#251 cp-250: Provide permissions to make request to http host
  mobile/android/app/src/main/AndroidManifest.xml
Labels: development, mobile

#75 cp-61: profile settings sidebar
  frontend/src/assets/css/variables.scss
  frontend/src/assets/icons/arrow.svg
  frontend/src/assets/icons/notification.svg
  frontend/src/assets/icons/plus.svg
  frontend/src/assets/icons/sign-out.svg
  frontend/src/assets/icons/user.svg
  frontend/src/index.tsx
  frontend/src/libs/components/card/card.tsx
  frontend/src/libs/components/card/styles.module.scss
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/icon/libs/maps/icon-name-to-icon.map.ts
  frontend/src/libs/components/sidebar-wrapper/libs/constants.ts
  frontend/src/libs/components/user-profile/libs/constants.ts
  frontend/src/libs/components/user-profile/styles.module.scss
  frontend/src/libs/components/user-profile/user-profile.tsx
  frontend/src/libs/enums/app-route.enum.ts
  frontend/src/libs/enums/icon-color.enum.ts
  frontend/src/libs/types/icon-name.type.ts
  frontend/src/libs/types/settings-option.type.ts
  frontend/src/libs/types/types.ts
  frontend/src/slices/auth/actions.ts
  frontend/src/slices/auth/auth.slice.ts
  frontend/src/slices/auth/auth.ts
  mobile/src/assets/img/logo.svg
Labels: frontend, development, mobile, cp-v2

#254 cp-242: Remove className property from Link component
  frontend/src/libs/components/link/link.tsx
  frontend/src/libs/components/link/styles.module.scss
  frontend/src/libs/components/sidebar/sidebar.tsx
  frontend/src/libs/components/sidebar/styles.module.scss
  frontend/src/pages/meditation/meditation-list/meditation-entry/meditation-entry.tsx
Labels: frontend, development, cp-v3

#258 cp-61: profile settings sidebar
  frontend/src/libs/components/user-profile/user-profile.tsx
Labels: bug, frontend, development, cp-v2

#264 cp-203: Update swagger documentation for survey
  backend/src/packages/surveys/survey.controller.ts
Labels: backend, development, cp-v2

#261 cp-147: Improvement of vertical responsiveness of the Survey page
  frontend/src/pages/surveys/styles.module.scss
Labels: bug, frontend, development, cp-v3

#256 cp-209: Add hover effect to sidebar items
  frontend/src/libs/components/sidebar/styles.module.scss
Labels: frontend, development, cp-v3

#262 cp-173: * Survey page categories selection fixing
  frontend/src/libs/components/checkbox/checkbox.tsx
  frontend/src/libs/components/checkbox/styles.module.scss
Labels: bug, frontend, development, cp-v3

#260 cp-198: Changed the dashboard Heather from Profile to Home
  frontend/src/pages/dashboard/components/user-profile-info/user-profile-info.tsx
Labels: frontend, development, cp-v2

#200 cp-170: Add Meditation Player Layout
  mobile/package.json
  mobile/src/assets/img/icons/backward.svg
  mobile/src/assets/img/icons/forward.svg
  mobile/src/assets/img/icons/next.svg
  mobile/src/assets/img/icons/pause.svg
  mobile/src/assets/img/icons/play.svg
  mobile/src/assets/img/icons/previous.svg
  mobile/src/assets/img/meditation-background.png
  mobile/src/libs/components/back-button/back-button.tsx
  mobile/src/libs/components/back-button/styles.ts
  mobile/src/libs/components/button/button.tsx
  mobile/src/libs/components/button/styles.ts
  mobile/src/libs/components/components.tsx
  mobile/src/libs/components/header/components/components.tsx
  mobile/src/libs/components/header/header.tsx
  mobile/src/libs/components/header/styles.ts
  mobile/src/libs/components/icon/libs/maps/icon-name-to-icon.map.ts
  mobile/src/libs/components/player/components/components.tsx
  mobile/src/libs/components/player/components/controls/controls.tsx
  mobile/src/libs/components/player/components/controls/styles.ts
  mobile/src/libs/components/player/components/progress-bar/libs/constants.ts
  mobile/src/libs/components/player/components/progress-bar/progress-bar.tsx
  mobile/src/libs/components/player/components/progress-bar/styles.ts
  mobile/src/libs/components/player/libs/constants.ts
  mobile/src/libs/components/player/player.tsx
  mobile/src/libs/enums/navigation/meditation-screen-name.enum.ts
  mobile/src/libs/helpers/helpers.ts
  mobile/src/libs/hooks/hooks.ts
  mobile/src/libs/hooks/use-player-controls/use-player-controls.hook.ts
  mobile/src/libs/hooks/use-player-progress/libs/constants.ts
  mobile/src/libs/hooks/use-player-progress/use-player-progress.hook.ts
  mobile/src/libs/packages/player/libs/constants.ts
  mobile/src/libs/packages/player/player.package.ts
  mobile/src/libs/packages/player/player.ts
  mobile/src/libs/packages/store/store.package.ts
  mobile/src/libs/types/icon-name.type.ts
  mobile/src/libs/types/meditation/meditation-track.type.ts
  mobile/src/libs/types/meditation/meditation.ts
  mobile/src/libs/types/navigation/meditation-navigation-parameter-list.type.ts
  mobile/src/libs/types/types.ts
  mobile/src/navigations/meditation/meditation.tsx
  mobile/src/navigations/meditation/styles.ts
  mobile/src/screens/meditation-list/components/meditation-item/meditation-item.tsx
  mobile/src/screens/meditation-list/meditation-list.tsx
  mobile/src/screens/meditation/libs/constants.ts
  mobile/src/screens/meditation/meditation.tsx
  mobile/src/screens/meditation/styles.ts
  mobile/src/slices/meditation/actions.ts
  mobile/src/slices/meditation/meditation.slice.ts
  mobile/src/slices/meditation/meditation.ts
  package-lock.json
Labels: root, development, mobile, cp-v2

#271 cp-267: Fix Add Button Alignment
  mobile/src/screens/chat-list/chat-list.tsx
  mobile/src/screens/chat-list/styles.ts
  mobile/src/screens/journal/journal.tsx
  mobile/src/screens/journal/styles.ts
Labels: bug, development, mobile, cp-v3

#266 cp-70: Fixed issues with file uploading functionality
  backend/src/libs/packages/server-application/libs/helpers/get-error-info/get-file-error-info.helper.ts
  backend/src/packages/files/file.controller.ts
  backend/src/packages/files/file.service.ts
  backend/src/packages/files/files.ts
  backend/src/packages/files/libs/types/types.ts
  shared/src/index.ts
  shared/src/packages/files/files.ts
  shared/src/packages/files/libs/types/file-get-all-item-response-dto.type.ts
  shared/src/packages/files/libs/types/file-upload-response-dto.type.ts
  shared/src/packages/files/libs/types/types.ts
Labels: shared, backend, development, cp-v2

#290 cp-289: Add deny list for pwa service worker
  frontend/vite.config.ts
  nginx/nginx.development.conf
Labels: frontend, development

#286 cp-197: Fixed swagger auth
  backend/src/libs/packages/server-application/base-server-application-api.ts
  backend/src/packages/auth/auth.controller.ts
  backend/src/packages/files/file.controller.ts
  backend/src/packages/journal-entries/journal-entry.controller.ts
  backend/src/packages/surveys/survey.controller.ts
Labels: backend, development, cp-v3

#310 cp-299: Mobile Sign Up Imporvements
  mobile/src/libs/components/input/styles.ts
  mobile/src/screens/auth/components/sign-in-form/styles.ts
  mobile/src/screens/auth/components/sign-up-form/styles.ts
Labels: development, mobile

#292 cp-170: Add Meditation Player Layout
  mobile/package.json
  mobile/src/libs/components/button/button.tsx
  mobile/src/libs/components/button/styles.ts
  mobile/src/libs/components/player/components/controls/controls.tsx
  mobile/src/libs/components/player/libs/constants.ts
  mobile/src/libs/components/player/player.tsx
  mobile/src/libs/packages/player/player.package.ts
  mobile/src/screens/meditation/styles.ts
  package-lock.json
Labels: root, development, mobile, cp-v3

#297 cp-285: Remove Unnecessary Meditation Data
  mobile/src/screens/meditation-home/libs/constants.ts
Labels: bug, development, mobile, cp-v3

#311 cp-300: Fix sidebar redirect
  frontend/src/libs/components/navigation-menu-wrapper/libs/constants.ts
  frontend/src/libs/enums/enums.ts
  frontend/src/libs/enums/query-strings/app-query-string-key.enum.ts
  frontend/src/libs/enums/query-strings/query-strings.enum.ts
  frontend/src/libs/enums/query-strings/sidebar-mode.enum.ts
  frontend/src/libs/helpers/get-url-with-query-string.helper.ts
  frontend/src/libs/helpers/helpers.ts
  frontend/src/libs/hooks/use-sidebar-show/use-sidebar-show.hook.ts
  frontend/src/pages/chat/chat.tsx
  frontend/src/pages/chat/components/chat-sidebar/chat-sidebar.tsx
Labels: frontend, development, cp-v4

#294 cp-291: Sign out user on 401 error
  frontend/src/libs/packages/api/base-http-api.ts
  frontend/src/libs/packages/http/http.ts
  frontend/src/libs/packages/http/libs/exceptions/auth-error.exception.ts
  frontend/src/libs/packages/http/libs/exceptions/exceptions.ts
  frontend/src/libs/packages/store/middlewares/handle-error/handle-error.middleware.ts
  frontend/src/libs/packages/store/middlewares/handle-unauthorized/handle-unauthorized.middleware.ts
  frontend/src/libs/packages/store/middlewares/middlewares.ts
  frontend/src/libs/packages/store/store.package.ts
Labels: frontend, development, cp-v4

#308 cp-306: Add Drop Shadows
  mobile/src/libs/components/button/styles.ts
  mobile/src/libs/components/card/styles.ts
  mobile/src/libs/components/icon-button/styles.ts
  mobile/src/libs/enums/ui/app-color.enum.ts
  mobile/src/screens/chat/components/message-item/styles.ts
  mobile/src/screens/meditation-list/components/meditation-item/styles.ts
  mobile/src/screens/meditation/styles.ts
  mobile/src/screens/notification-settings/components/setting/styles.ts
  mobile/src/screens/notification-settings/notification-settings.tsx
  mobile/src/screens/notification-settings/styles.ts
Labels: development, mobile, cp-v4

#288 cp-246: White circles around sidebar options don't have all the same size
  frontend/src/libs/components/icon/icon.tsx
  frontend/src/libs/components/navigation-menu/navigation-menu.tsx
  frontend/src/libs/components/navigation-menu/styles.module.scss
Labels: bug, frontend, development, cp-v4

#320 cp-304: Card view long titles
  frontend/src/libs/components/card/styles.module.scss
Labels: bug, frontend, development, cp-v4

#321 cp-299: Fixed Mobile Sign Up Imporvements
  mobile/src/libs/components/input-search/styles.ts
  mobile/src/screens/auth/components/sign-in-form/sign-in-form.tsx
  mobile/src/screens/auth/components/sign-in-form/styles.ts
  mobile/src/screens/auth/components/sign-up-form/sign-up-form.tsx
  mobile/src/screens/auth/components/sign-up-form/styles.ts
Labels: development, mobile, cp-v4

#298 cp-272: Create Chat Functionality
  mobile/src/libs/components/button/button.tsx
  mobile/src/libs/components/button/styles.ts
  mobile/src/libs/components/player/components/controls/controls.tsx
  mobile/src/libs/components/player/components/controls/styles.ts
  mobile/src/libs/packages/store/store.package.ts
  mobile/src/packages/chats/chats-api.ts
  mobile/src/packages/chats/chats.ts
  mobile/src/packages/chats/libs/enums/enums.ts
  mobile/src/packages/chats/libs/types/types.ts
  mobile/src/screens/chat-list/chat-list.tsx
  mobile/src/screens/chat-list/libs/constants.ts
  mobile/src/screens/chat-list/libs/data.json
  mobile/src/screens/chat-list/styles.ts
  mobile/src/screens/chat/chat.tsx
  mobile/src/screens/chat/libs/constants.ts
  mobile/src/screens/chat/libs/types/chat-input-value.type.ts
  mobile/src/screens/chat/styles.ts
  mobile/src/screens/journal/journal.tsx
  mobile/src/screens/journal/styles.ts
  mobile/src/slices/chats/actions.ts
  mobile/src/slices/chats/chats.slice.ts
  mobile/src/slices/chats/chats.ts
Labels: development, mobile, cp-v4

#326 cp-190: Chat functionality
  frontend/src/packages/chat-messages/chat-messages-api.ts
Labels: frontend, development, cp-v4

#322 cp-302: Hamburger menu improvement
  frontend/src/libs/components/dropdown-menu/styles.module.scss
Labels: frontend, development, cp-v4

#328 cp-160: Fix back button position on the chat layout
  frontend/src/libs/components/backward-button/styles.module.scss
Labels: bug, frontend, development, cp-v4

#344 cp-331: Added color to the title of the highlighted card
  frontend/src/libs/components/card/styles.module.scss
Labels: frontend, development, cp-v4

#341 cp-317: Add width and height to icons
  frontend/src/libs/components/dropdown-menu/dropdown-menu.tsx
  frontend/src/pages/chat/components/chat-footer/chat-footer.tsx
Labels: bug, frontend, development, cp-v4

#349 cp-335: Lock theme for the app#335
  mobile/android/app/src/main/res/values/styles.xml
Labels: development, mobile, cp-v4

#325 cp-304: Card view with long titles. Fix
  frontend/src/libs/components/card/styles.module.scss
Labels: frontend, development, cp-v4

#323 cp-316: Mobile Chat Name Size Reduction
  mobile/src/libs/components/header/header.tsx
  mobile/src/libs/components/header/styles.ts
  mobile/src/screens/chat/chat.tsx
Labels: development, mobile, cp-v4

#351 cp-170: Add Meditation Player Layout
  mobile/android/app/src/main/AndroidManifest.xml
  mobile/index.js
  mobile/src/libs/components/button/styles.ts
  mobile/src/libs/components/player/libs/constants.ts
Labels: development, mobile, cp-v4

#360 cp-282: Load Mobile Meditation Entries
  mobile/src/libs/packages/store/store.package.ts
  mobile/src/packages/meditation/libs/enums/enums.ts
  mobile/src/packages/meditation/libs/types/types.ts
  mobile/src/packages/meditation/meditation-api.ts
  mobile/src/packages/meditation/meditation.ts
  mobile/src/screens/meditation-home/libs/constants.ts
  mobile/src/screens/meditation-home/meditation-home.tsx
  mobile/src/slices/meditation/actions.ts
  mobile/src/slices/meditation/meditation.slice.ts
  mobile/src/slices/meditation/meditation.ts
Labels: development, mobile, cp-v4

#348 cp-315: Modify response body for journal requests
  backend/src/packages/journal-entries/journal-entry.controller.ts
Labels: backend, development, cp-v4

#371 cp-352: Fix an account caption alignment
  frontend/src/pages/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/pages/auth/components/sign-in-form/styles.module.scss
  frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/pages/auth/components/sign-up-form/styles.module.scss
Labels: bug, frontend, development, cp-v4

#366 cp-336: Mobile Fonts
  mobile/android/app/src/main/assets/fonts/montserrat-regular.ttf
  mobile/android/app/src/main/assets/fonts/montserrat-semi-bold.ttf
  mobile/android/link-assets-manifest.json
  mobile/ios/CalmPal.xcodeproj/project.pbxproj
  mobile/ios/CalmPal/Info.plist
  mobile/ios/link-assets-manifest.json
  mobile/react-native.config.js
  mobile/src/assets/fonts/montserrat-regular.ttf
  mobile/src/assets/fonts/montserrat-semi-bold.ttf
  mobile/src/libs/components/button/styles.ts
  mobile/src/libs/components/card/styles.ts
  mobile/src/libs/components/header/components/badge/styles.ts
  mobile/src/libs/components/header/styles.ts
  mobile/src/libs/components/input-search/styles.ts
  mobile/src/libs/components/input/styles.ts
  mobile/src/libs/components/link/styles.ts
  mobile/src/libs/components/player/components/progress-bar/styles.ts
  mobile/src/libs/components/toast/styles.ts
  mobile/src/libs/enums/enums.ts
  mobile/src/libs/enums/ui/font-family.enum.ts
  mobile/src/libs/enums/ui/ui.ts
  mobile/src/screens/auth/components/sign-in-form/styles.ts
  mobile/src/screens/auth/components/sign-up-form/styles.ts
  mobile/src/screens/chat/components/chat-input/styles.ts
  mobile/src/screens/chat/components/message-item/styles.ts
  mobile/src/screens/chat/styles.ts
  mobile/src/screens/dashboard/styles.ts
  mobile/src/screens/meditation-list/components/meditation-item/styles.ts
  mobile/src/screens/meditation/styles.ts
  mobile/src/screens/notification-settings/components/setting/styles.ts
  mobile/src/screens/survey/components/preferences-step/styles.ts
  mobile/src/screens/survey/components/survey-category/styles.ts
  mobile/src/screens/survey/styles.ts
Labels: development, mobile, cp-v4

#378 cp-376: Mobile Sign in/Sign up Font Size Reduction
  mobile/src/screens/auth/components/sign-in-form/styles.ts
  mobile/src/screens/auth/components/sign-up-form/styles.ts
Labels: development, mobile, cp-v4

#380 cp-194: Fix bugs in note functionality
  backend/src/db/migrations/20230924074610_modify_type_of_title_column_in_journal_entries_table.ts
  frontend/src/pages/journal/components/note/note.tsx
  frontend/src/pages/journal/components/note/styles.module.scss
  frontend/src/slices/journal/journal.slice.ts
  shared/src/packages/journal/libs/enums/journal-entry-validation-rule.enum.ts
Labels: shared, backend, frontend, development, cp-v4

#382 cp-336: Fixed Mobile Fonts
  mobile/src/libs/components/header/styles.ts
Labels: development, mobile, cp-v4

#383 cp-381: Imporve Mobile Other Placeholder
  mobile/src/libs/components/input/input.tsx
Labels: development, mobile, cp-v4

#362 cp-342: Modify response for meditation post
  backend/src/packages/meditation/meditation.controller.ts
  backend/src/packages/meditation/meditation.service.ts
Labels: backend, development, cp-v4

#253 cp-161: add meditation timer
  frontend/src/index.tsx
  frontend/src/libs/components/audio-player/audio-player.tsx
  frontend/src/libs/components/audio-player/components/audio-controls/audio-controls.tsx
  frontend/src/libs/components/audio-player/libs/constants/constants.ts
  frontend/src/libs/components/audio-player/libs/enums/audio-option-key.enum.ts
  frontend/src/libs/components/audio-player/libs/enums/enums.ts
  frontend/src/libs/components/audio-player/libs/types/types.ts
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/button/styles.module.scss
  frontend/src/libs/enums/app-route.enum.ts
  frontend/src/libs/enums/icon-color.enum.ts
  frontend/src/libs/enums/query-strings/app-query-string-key.enum.ts
  frontend/src/libs/helpers/get-url-with-query-string.helper.ts
  frontend/src/libs/helpers/helpers.ts
  frontend/src/libs/hooks/hooks.ts
  frontend/src/libs/hooks/use-app-form/use-app-form.hook.ts
  frontend/src/libs/types/button-style.type.ts
  frontend/src/libs/types/types.ts
  frontend/src/pages/meditation/components/meditation-list/components/components.ts
  frontend/src/pages/meditation/components/meditation-list/components/meditation-entry/libs/helpers/generate-meditation-entry-link/generate-meditation-entry-link.helper.ts
  frontend/src/pages/meditation/components/meditation-list/components/meditation-entry/libs/helpers/helpers.ts
  frontend/src/pages/meditation/components/meditation-list/components/meditation-entry/meditation-entry.tsx
  frontend/src/pages/meditation/components/meditation-list/components/meditation-entry/styles.module.scss
  frontend/src/pages/meditation/components/meditation-list/meditation-entry/meditation-entry.tsx
  frontend/src/pages/meditation/components/meditation-list/meditation-list.tsx
  frontend/src/pages/meditation/components/meditation-player/libs/constants/constants.ts
  frontend/src/pages/meditation/components/meditation-player/meditation-player.tsx
  frontend/src/pages/meditation/components/meditation-player/styles.module.scss
  frontend/src/pages/meditation/components/meditation-timer/components/timer-button/styles.module.scss
  frontend/src/pages/meditation/components/meditation-timer/components/timer-button/timer-button.tsx
  frontend/src/pages/meditation/components/meditation-timer/libs/constants/constants.ts
  frontend/src/pages/meditation/components/meditation-timer/meditation-timer.tsx
  frontend/src/pages/meditation/components/meditation-timer/styles.module.scss
  frontend/src/pages/meditation/libs/constants/constants.ts
  frontend/src/pages/meditation/meditation.tsx
  shared/src/index.ts
  shared/src/libs/helpers/date/date.ts
  shared/src/libs/helpers/helpers.ts
Labels: shared, frontend, development, cp-v4

#385 cp-315: Fix typos with journal routes and status codes in swagger documentation
  backend/src/packages/journal-entries/journal-entry.controller.ts
Labels: bug, backend, development

#365 cp-346: Sort chats by newest messages
  backend/src/packages/chat-messages/chat-message.model.ts
  backend/src/packages/chats/chat.model.ts
  backend/src/packages/chats/chat.repository.ts
  frontend/src/pages/chat/components/chat-layout/chat-layout.tsx
Labels: backend, frontend, development

#387 cp-355: Display only user chats
  backend/src/packages/chats/chat.repository.ts
  backend/src/packages/chats/chats.ts
  backend/src/packages/chats/libs/enums/chats-relation.enum.ts
  backend/src/packages/chats/libs/enums/enums.ts
  backend/src/packages/chats/libs/enums/user-to-chat-relation.enum.ts
  backend/src/packages/chats/user-to-chat.model.ts
Labels: bug, backend, development, conflicts, cp-v4

#307 cp-295: Deleting note functionality
  backend/src/libs/types/repository.type.ts
  backend/src/libs/types/service.type.ts
  backend/src/packages/chat-messages/chat-message.repository.ts
  backend/src/packages/chats/chat.repository.ts
  backend/src/packages/files/file.repository.ts
  backend/src/packages/journal-entries/journal-entry.controller.ts
  backend/src/packages/journal-entries/journal-entry.repository.ts
  backend/src/packages/journal-entries/journal-entry.service.ts
  backend/src/packages/meditation/meditation.repository.ts
  backend/src/packages/surveys/survey.repository.ts
  backend/src/packages/users/user.repository.ts
  frontend/src/assets/icons/trash-box.svg
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/button/styles.module.scss
  frontend/src/libs/components/card/card.tsx
  frontend/src/libs/components/card/styles.module.scss
  frontend/src/libs/components/icon/libs/maps/icon-name-to-icon.map.ts
  frontend/src/libs/components/modal/modal.tsx
  frontend/src/libs/components/sidebar/components/sidebar/styles.module.scss
  frontend/src/libs/enums/icon-color.enum.ts
  frontend/src/libs/hooks/use-sidebar-show/use-sidebar-show.hook.ts
  frontend/src/libs/types/button-style.type.ts
  frontend/src/libs/types/icon-name.type.ts
  frontend/src/packages/journal/journal-api.ts
  frontend/src/packages/journal/libs/types/types.ts
  frontend/src/pages/chat/chat.tsx
  frontend/src/pages/chat/components/chat-sidebar/chat-sidebar.tsx
  frontend/src/pages/chat/styles.module.scss
  frontend/src/pages/journal/components/delete-journal-modal/delete-journal-modal.tsx
  frontend/src/pages/journal/components/delete-journal-modal/styles.module.scss
  frontend/src/pages/journal/components/journal-sidebar/journal-sidebar.tsx
  frontend/src/pages/journal/journal.tsx
  frontend/src/pages/meditation/components/meditation-list/meditation-list.tsx
  frontend/src/pages/meditation/components/meditation-sidebar/meditation-sidebar.tsx
  frontend/src/pages/meditation/meditation.tsx
  frontend/src/pages/user-profile/components/user-profile-sidebar/user-profile-sidebar.tsx
  frontend/src/pages/user-profile/user-profile.tsx
  frontend/src/slices/journal/actions.ts
  frontend/src/slices/journal/journal.slice.ts
  frontend/src/slices/journal/journal.ts
  shared/src/index.ts
  shared/src/libs/enums/exception-message.enum.ts
  shared/src/libs/packages/http/libs/types/http-method.type.ts
  shared/src/packages/journal/journal.ts
  shared/src/packages/journal/libs/types/journal-entry-delete-response-dto.type.ts
  shared/src/packages/journal/libs/types/types.ts
Labels: shared, backend, frontend, development, cp-v4

#327 cp-268: Delete chat functionality (reopened)
  backend/src/libs/constants/constants.ts
  backend/src/libs/types/repository.type.ts
  backend/src/packages/chats/chat.controller.ts
  backend/src/packages/chats/chat.repository.ts
  backend/src/packages/chats/chat.service.ts
  frontend/src/libs/components/card/card.tsx
  frontend/src/libs/components/icon/libs/maps/icon-name-to-icon.map.ts
  frontend/src/libs/components/modal/modal.tsx
  frontend/src/libs/enums/icon-color.enum.ts
  frontend/src/packages/chats/chats-api.ts
  frontend/src/pages/chat/components/chat-sidebar/chat-sidebar.tsx
  frontend/src/pages/chat/components/components.ts
  frontend/src/pages/chat/components/delete-chat-modal/delete-chat-modal.tsx
  frontend/src/pages/chat/components/delete-chat-modal/styles.module.scss
  frontend/src/slices/chats/actions.ts
  frontend/src/slices/chats/chats.slice.ts
  frontend/src/slices/chats/chats.ts
  package-lock.json
  shared/src/packages/chats/libs/enums/chats-api-path.enum.ts
Labels: root, shared, backend, frontend, development

#339 cp-314: Move search to backend
  backend/src/libs/packages/controller/libs/types/controller-route-parameters.type.ts
  backend/src/libs/types/repository.type.ts
  backend/src/libs/types/service.type.ts
  backend/src/packages/chats/chat.controller.ts
  backend/src/packages/chats/chat.repository.ts
  backend/src/packages/chats/chat.service.ts
  backend/src/packages/chats/libs/types/types.ts
  backend/src/packages/chats/libs/validation-schemas/validation-schemas.ts
  backend/src/packages/journal-entries/journal-entry.controller.ts
  backend/src/packages/journal-entries/journal-entry.repository.ts
  backend/src/packages/journal-entries/journal-entry.service.ts
  backend/src/packages/journal-entries/libs/types/types.ts
  backend/src/packages/journal-entries/libs/validation-schemas/validation-schemas.ts
  frontend/src/libs/components/search/search.tsx
  frontend/src/libs/enums/query-strings/app-query-string-key.enum.ts
  frontend/src/libs/hooks/use-search/use-search.hook.ts
  frontend/src/packages/chats/chats-api.ts
  frontend/src/packages/journal/journal-api.ts
  frontend/src/pages/chat/chat.tsx
  frontend/src/pages/chat/components/chat-layout/chat-layout.tsx
  frontend/src/pages/chat/components/chat-sidebar/chat-sidebar.tsx
  frontend/src/pages/chat/components/chat-sidebar/styles.module.scss
  frontend/src/pages/journal/components/journal-sidebar/journal-sidebar.tsx
  frontend/src/pages/journal/components/journal-sidebar/styles.module.scss
  frontend/src/pages/journal/journal.tsx
  frontend/src/pages/meditation/components/meditation-sidebar/meditation-sidebar.tsx
  frontend/src/pages/meditation/components/meditation-sidebar/styles.module.scss
  frontend/src/slices/chats/actions.ts
  frontend/src/slices/journal/actions.ts
  shared/src/index.ts
  shared/src/libs/types/entities-filtering-dto.type.ts
  shared/src/libs/types/types.ts
  shared/src/packages/chats/chats.ts
  shared/src/packages/common-validation-schemas/entities-filtering-query.validation-schema.ts
  shared/src/packages/common-validation-schemas/validation-schemas.ts
Labels: shared, backend, frontend, development, cp-v4

#397 cp-359: Display only user and general meditations
  backend/src/db/migrations/20230925102151_add_user_id_column_to_meditation_entries.ts
  backend/src/packages/meditation/libs/types/meditation-common-query-response.ts
  backend/src/packages/meditation/libs/types/meditation-create-query-payload.ts
  backend/src/packages/meditation/meditation.controller.ts
  backend/src/packages/meditation/meditation.entity.ts
  backend/src/packages/meditation/meditation.repository.ts
  backend/src/packages/meditation/meditation.service.ts
Labels: bug, backend, development, cp-v4

#389 cp-354: Add disabled send button
  frontend/src/pages/chat/components/chat-footer/chat-footer.tsx
  frontend/src/pages/chat/components/chat-footer/styles.module.scss
Labels: frontend, development, cp-v4

#265 cp-193: Add chatbot functionality
  backend/.env.example
  backend/src/db/migrations/20230907100034_add_chatbot_user.ts
  backend/src/libs/helpers/helpers.ts
  backend/src/libs/packages/api/api.ts
  backend/src/libs/packages/api/base-http-api.ts
  backend/src/libs/packages/api/libs/types/http-api-options.type.ts
  backend/src/libs/packages/api/libs/types/http-api.type.ts
  backend/src/libs/packages/api/libs/types/types.ts
  backend/src/libs/packages/config/base-config.package.ts
  backend/src/libs/packages/config/libs/types/environment-schema.type.ts
  backend/src/libs/packages/database/libs/enums/user-roles-table-column.enum.ts
  backend/src/libs/packages/http/base-http.package.ts
  backend/src/libs/packages/http/http.ts
  backend/src/libs/packages/http/libs/enums/enums.ts
  backend/src/libs/packages/http/libs/types/types.ts
  backend/src/libs/packages/open-ai/libs/constants/constants.ts
  backend/src/libs/packages/open-ai/libs/enums/enums.ts
  backend/src/libs/packages/open-ai/libs/enums/open-ai-api-path.enum.ts
  backend/src/libs/packages/open-ai/libs/enums/open-ai-chat-api-path.enum.ts
  backend/src/libs/packages/open-ai/libs/enums/open-ai-image-size.enum.ts
  backend/src/libs/packages/open-ai/libs/enums/open-ai-images-api-path.enum.ts
  backend/src/libs/packages/open-ai/libs/enums/open-ai-role-key.enum.ts
  backend/src/libs/packages/open-ai/libs/enums/user-role-key.enum.ts
  backend/src/libs/packages/open-ai/libs/types/open-ai-image-generate-request-dto.type.ts
  backend/src/libs/packages/open-ai/libs/types/open-ai-image-generate-response-dto.type.ts
  backend/src/libs/packages/open-ai/libs/types/open-ai-message-generate-request-dto.type.ts
  backend/src/libs/packages/open-ai/libs/types/open-ai-message-generate-response-dto.type.ts
  backend/src/libs/packages/open-ai/libs/types/types.ts
  backend/src/libs/packages/open-ai/open-ai.package.ts
  backend/src/libs/packages/open-ai/open-ai.ts
  backend/src/packages/chat-messages/chat-message.service.ts
  backend/src/packages/chat-messages/chat-messages.ts
  backend/src/packages/chat-messages/chatbot.service.ts
  backend/src/packages/chat-messages/libs/constants/constants.ts
  backend/src/packages/chats/chat.controller.ts
  backend/src/packages/chats/chat.service.ts
  backend/src/packages/chats/chats.ts
  backend/src/packages/chats/libs/constants/constants.ts
  backend/src/packages/users/libs/enums/enums.ts
  backend/src/packages/users/libs/enums/table-columns/users-table-column.enum.ts
  backend/src/packages/users/libs/enums/users-relation.enum.ts
  backend/src/packages/users/user-roles.model.ts
  backend/src/packages/users/user.model.ts
  backend/src/packages/users/user.repository.ts
  backend/src/packages/users/user.service.ts
  backend/src/packages/users/users.ts
  frontend/src/packages/chat-messages/chat-messages-api.ts
  frontend/src/slices/chats/actions.ts
  frontend/src/slices/chats/chats.slice.ts
  frontend/src/slices/chats/chats.ts
  package-lock.json
  shared/src/packages/chats/libs/enums/chats-api-path.enum.ts
Labels: root, shared, backend, frontend, ENV, development, cp-v4

#393 cp-337: Make plus buttons identical
  frontend/src/libs/components/button/styles.module.scss
  frontend/src/pages/chat/components/chat-sidebar/chat-sidebar.tsx
  frontend/src/pages/chat/components/chat-sidebar/styles.module.scss
  frontend/src/pages/journal/components/journal-sidebar/journal-sidebar.tsx
  frontend/src/pages/meditation/components/meditation-sidebar/meditation-sidebar.tsx
  frontend/src/pages/meditation/components/meditation-sidebar/styles.module.scss
Labels: frontend, development, cp-v5

#373 cp-364: Fix long titles for added meditation entries
  frontend/src/pages/meditation/components/meditation-list/components/meditation-entry/styles.module.scss
Labels: bug, frontend, development, conflicts, cp-v5

#357 cp-246: changed icon size in chat and profile
  frontend/src/assets/icons/chats.svg
  frontend/src/assets/icons/home.svg
  frontend/src/assets/icons/journal.svg
  frontend/src/assets/icons/meditation.svg
  frontend/src/assets/icons/user.svg
  frontend/src/libs/components/navigation-menu-wrapper/libs/constants/constants.ts
  frontend/src/libs/components/navigation-menu-wrapper/navigation-menu-wrapper.tsx
  frontend/src/libs/components/sidebar/components/sidebar-header/sidebar-header.tsx
  frontend/src/pages/surveys/survey.tsx
  frontend/src/pages/user-profile/components/user-profile-sidebar/styles.module.scss
  frontend/src/pages/user-profile/components/user-profile-sidebar/user-profile-sidebar.tsx
Labels: bug, frontend, development, cp-v5

#333 cp-274: Add autogenerated title and image for chat
  backend/src/db/migrations/20230918193715_add_image_url_column_to_chats_table.ts
  backend/src/libs/packages/api/base-http-api.ts
  backend/src/libs/packages/api/libs/types/http-api-options.type.ts
  backend/src/libs/packages/open-ai/libs/enums/enums.ts
  backend/src/libs/packages/open-ai/libs/enums/open-ai-response-format.enum.ts
  backend/src/libs/packages/open-ai/libs/types/open-ai-image-generate-response-dto.type.ts
  backend/src/libs/packages/open-ai/open-ai.package.ts
  backend/src/libs/packages/open-ai/open-ai.ts
  backend/src/libs/packages/s3/libs/constants/constants.ts
  backend/src/packages/chat-messages/chat-messages.ts
  backend/src/packages/chats/chat.controller.ts
  backend/src/packages/chats/chat.entity.ts
  backend/src/packages/chats/chat.model.ts
  backend/src/packages/chats/chat.repository.ts
  backend/src/packages/chats/chat.service.ts
  backend/src/packages/chats/chats.ts
  backend/src/packages/chats/libs/constants/constants.ts
  backend/src/packages/chats/libs/types/chat-common-query-response.type.ts
  backend/src/packages/chats/libs/types/types.ts
  backend/src/packages/chats/libs/types/update-chat-image-payload.type.ts
  frontend/src/packages/chats/chats-api.ts
  frontend/src/packages/chats/chats.ts
  frontend/src/packages/chats/libs/types/types.ts
  frontend/src/pages/chat/components/chat-sidebar/chat-sidebar.tsx
  frontend/src/slices/chats/actions.ts
  frontend/src/slices/chats/chats.slice.ts
  frontend/src/slices/chats/chats.ts
  shared/src/index.ts
  shared/src/packages/chats/chats.ts
  shared/src/packages/chats/libs/types/chat-get-all-item-response-dto.type.ts
  shared/src/packages/chats/libs/types/types.ts
  shared/src/packages/chats/libs/types/update-chat-image-request-dto.type.ts
Labels: shared, backend, frontend, development, cp-v5

#410 cp-409: Apply quality criteria proposal changes
  frontend/src/libs/components/audio-player/audio-player.tsx
  frontend/src/libs/components/audio-player/components/components.ts
  frontend/src/libs/components/audio-player/components/progress-bar/progress-bar.tsx
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/icon/icon.tsx
  frontend/src/libs/components/icon/libs/maps/icon-name-to-icon/icon-name-to-icon.map.ts
  frontend/src/libs/components/icon/libs/maps/maps.ts
  frontend/src/libs/components/search/libs/constants/constants.ts
  frontend/src/libs/components/sidebar/components.ts
  frontend/src/libs/components/sidebar/components/components.ts
  frontend/src/libs/helpers/get-url-with-query-string/get-url-with-query-string.helper.ts
  frontend/src/libs/helpers/get-valid-class-names/get-valid-class-names.helper.ts
  frontend/src/libs/helpers/helpers.ts
  frontend/src/packages/chat-messages/chat-messages-api.ts
  frontend/src/packages/chats/chats-api.ts
  frontend/src/packages/journal/journal-api.ts
  frontend/src/packages/meditation/meditation-api.ts
  frontend/src/pages/dashboard/components/user-profile-info/user-profile-info.tsx
  frontend/src/pages/profile-settings/libs/constants/constants.ts
  frontend/src/pages/profile-settings/profile-settings.tsx
  frontend/src/pages/surveys/components/preferences-step/preferences-step.tsx
  frontend/src/pages/surveys/libs/constants/constants.ts
  frontend/src/slices/chats/actions.ts
  frontend/src/slices/journal/actions.ts
  frontend/src/slices/meditation/actions.ts
  mobile/android/keystore.properties
  mobile/src/libs/components/app/app.tsx
  mobile/src/libs/components/app/libs/constants/constants.ts
  mobile/src/libs/components/card/card.tsx
  mobile/src/libs/components/card/libs/constants/constants.ts
  mobile/src/libs/components/header/header.tsx
  mobile/src/libs/components/header/libs/constants/constants.ts
  mobile/src/libs/components/icon/libs/maps/icon-name-to-icon/icon-name-to-icon.map.ts
  mobile/src/libs/components/icon/libs/maps/maps.ts
  mobile/src/libs/components/input-search/input-search.tsx
  mobile/src/libs/components/input-search/libs/constants/constants.ts
  mobile/src/libs/components/player/libs/constants/constants.ts
  mobile/src/libs/components/player/player.tsx
  mobile/src/libs/packages/player/libs/constants/constants.ts
  mobile/src/libs/packages/player/player.package.ts
  mobile/src/libs/types/navigation/navigation-item.type.ts
  mobile/src/navigations/root/libs/constants/constants.ts
  mobile/src/navigations/root/root.tsx
  mobile/src/screens/chat-list/chat-list.tsx
  mobile/src/screens/chat-list/libs/constants/constants.ts
  mobile/src/screens/chat/chat.tsx
  mobile/src/screens/chat/libs/constants/constants.ts
  mobile/src/screens/meditation-list/libs/constants/constants.ts
  mobile/src/screens/meditation-list/meditation-list.tsx
  mobile/src/screens/meditation/libs/constants/constants.ts
  mobile/src/screens/meditation/meditation.tsx
  mobile/src/screens/notification-settings/libs/cosntants/constants.ts
  mobile/src/screens/notification-settings/notification-settings.tsx
  mobile/src/screens/survey/components/preferences-step/preferences-step.tsx
  mobile/src/screens/survey/libs/cosntants/constants.ts
  mobile/src/slices/auth/actions.ts
  mobile/src/slices/auth/libs/constants/constants.ts
Labels: frontend, development, mobile

#401 cp-395: Remove Focus On Input When Keyboard Is Closed
  mobile/src/screens/chat/components/chat-input/chat-input.tsx
Labels: bug, development, mobile, cp-v5

#402 cp-334: Improve scrollbar view
  frontend/src/pages/chat/components/chat-sidebar/styles.module.scss
  frontend/src/pages/journal/components/journal-sidebar/styles.module.scss
Labels: bug, frontend, development

#398 cp-194: Fix newest and updated notes order
  frontend/src/slices/journal/journal.slice.ts
Labels: bug, frontend, development

#394 cp-356: make height of sidebars headers identical
  frontend/src/libs/components/button/styles.module.scss
  frontend/src/libs/components/sidebar/components/sidebar-header/styles.module.scss
  frontend/src/pages/chat/components/chat-sidebar/styles.module.scss
  frontend/src/pages/journal/components/journal-sidebar/styles.module.scss
  frontend/src/pages/meditation/components/meditation-sidebar/styles.module.scss
Labels: frontend, development, cp-v5

#330 cp-283: Add Meditation Entry Functionality
  frontend/src/pages/journal/components/journal-sidebar/journal-sidebar.tsx
  mobile/android/app/src/main/AndroidManifest.xml
  mobile/package.json
  mobile/src/assets/img/icons/close.svg
  mobile/src/assets/img/icons/download.svg
  mobile/src/assets/img/icons/upload.svg
  mobile/src/libs/components/components.tsx
  mobile/src/libs/components/icon/libs/maps/icon-name-to-icon/icon-name-to-icon.map.ts
  mobile/src/libs/components/input-file/input-file.tsx
  mobile/src/libs/components/input-file/libs/constants.ts
  mobile/src/libs/components/input-file/libs/helpers/helpers.ts
  mobile/src/libs/components/input-file/libs/helpers/request-media-permissions.helper.ts
  mobile/src/libs/components/input-file/styles.ts
  mobile/src/libs/components/input/input.tsx
  mobile/src/libs/components/modal/modal.tsx
  mobile/src/libs/components/modal/styles.ts
  mobile/src/libs/constants/constants.ts
  mobile/src/libs/enums/ui/app-color.enum.ts
  mobile/src/libs/packages/api/base-http-api.ts
  mobile/src/libs/types/icon-name.type.ts
  mobile/src/packages/meditation/libs/validation-schemas/validation-schemas.ts
  mobile/src/packages/meditation/meditation-api.ts
  mobile/src/packages/meditation/meditation.ts
  mobile/src/screens/chat-list/chat-list.tsx
  mobile/src/screens/chat-list/libs/constants/constants.ts
  mobile/src/screens/chat/chat.tsx
  mobile/src/screens/chat/libs/constants/constants.ts
  mobile/src/screens/meditation-home/libs/constants.ts
  mobile/src/screens/meditation-home/meditation-home.tsx
  mobile/src/screens/meditation-home/styles.ts
  mobile/src/screens/meditation-list/components/add-meditation-modal/add-meditation-modal.tsx
  mobile/src/screens/meditation-list/components/add-meditation-modal/styles.ts
  mobile/src/screens/meditation-list/components/components.tsx
  mobile/src/screens/meditation-list/meditation-list.tsx
  mobile/src/screens/meditation-list/styles.ts
  mobile/src/slices/auth/actions.ts
  mobile/src/slices/auth/libs/constants/constants.ts
  mobile/src/slices/meditation/actions.ts
  mobile/src/slices/meditation/meditation.slice.ts
  mobile/src/slices/meditation/meditation.ts
  package-lock.json
Labels: root, frontend, development, mobile, cp-v5

#420 cp-403: fix overlapping of the title and icon in the Card component
  frontend/src/libs/components/card/styles.module.scss
Labels: bug, frontend, development, cp-v5

#413 cp-337: Make location of plus buttons identical on sidebars(on the righ tside)
  frontend/src/pages/meditation/meditation-sidebar/styles.module.scss
Labels: frontend, development

#396 cp-161: Fix the modal display on mobile
  frontend/src/libs/components/modal/styles.module.scss
  frontend/src/pages/meditation/components/meditation-timer/styles.module.scss
Labels: frontend, development, cp-v5

#429 cp-428: Passing VITE_APP_STRIPE_PUBLIC_KEY on build docker image step as build arg
  .github/workflows/cd.yml
  frontend/Dockerfile.development
Labels: workflows, frontend, development

#391 cp-361: Updated meditation entry design
  frontend/src/pages/meditation/components/meditation-list/components/meditation-entry/styles.module.scss
Labels: frontend, development, cp-v5

#353 cp-270: Implement Chat Messaging Functionality
  mobile/src/libs/components/card/card.tsx
  mobile/src/libs/packages/store/store.package.ts
  mobile/src/libs/types/navigation/chat-navigation-parameter-list.type.ts
  mobile/src/navigations/root/root.tsx
  mobile/src/packages/chat-messages/chat-messages-api.ts
  mobile/src/packages/chat-messages/chat-messages.ts
  mobile/src/packages/chat-messages/libs/enums/enum.ts
  mobile/src/packages/chat-messages/libs/types/chat-message-create-payload.type.ts
  mobile/src/packages/chat-messages/libs/types/types.ts
  mobile/src/screens/chat-list/chat-list.tsx
  mobile/src/screens/chat/chat.tsx
  mobile/src/slices/chats/actions.ts
  mobile/src/slices/chats/chats.slice.ts
  mobile/src/slices/chats/chats.ts
Labels: development, mobile, cp-v5

#426 cp-423: improveents to humburger menu
  frontend/src/libs/components/dropdown-menu/dropdown-menu.tsx
  frontend/src/libs/components/dropdown-menu/styles.module.scss
Labels: frontend, development, cp-v5

#408 cp-257: Fixing responsive height in the side menu
  frontend/src/libs/components/dropdown-menu/styles.module.scss
  frontend/src/libs/components/navigation-menu-wrapper/styles.module.scss
  frontend/src/libs/components/navigation-menu/styles.module.scss
  frontend/src/libs/components/sidebar/components/sidebar/styles.module.scss
Labels: bug, frontend, development, cp-v5

#442 cp-404: bug fix chat window must automatically scroll to the newest messages
  frontend/src/pages/chat/components/chat-layout/chat-layout.tsx
Labels: frontend, development

#437 cp-430: Change Enter meditation name instead of Enter topic name
  frontend/src/pages/meditation/components/add-meditation-modal/add-meditation-modal.tsx
  mobile/src/screens/meditation-list/components/add-meditation-modal/add-meditation-modal.tsx
Labels: bug, frontend, development, mobile, cp-v5

#390 cp-338: Sidebar improvements for mobile screen size
  frontend/src/pages/chat/components/chat-sidebar/styles.module.scss
  frontend/src/pages/journal/components/journal-sidebar/styles.module.scss
  frontend/src/pages/meditation/components/meditation-sidebar/styles.module.scss
Labels: frontend, development, conflicts, cp-v5

#438 cp-283: Add Meditation Entry Functionality
  mobile/src/libs/components/input-file/input-file.tsx
  mobile/src/libs/components/input-file/styles.ts
  mobile/src/screens/meditation-list/components/add-meditation-modal/add-meditation-modal.tsx
  mobile/src/screens/meditation-list/components/add-meditation-modal/styles.ts
Labels: development, mobile, cp-v5

#424 cp-421: Improved Mobile Meditation Player
  mobile/src/libs/components/player/components/progress-bar/progress-bar.tsx
  mobile/src/libs/components/player/components/progress-bar/styles.ts
  mobile/src/screens/meditation/styles.ts
Labels: development, mobile, cp-v5

#458 cp-445: Improvements of the meditation list to development
  frontend/src/pages/meditation/components/meditation-list/styles.module.scss
Labels: frontend, development, cp-v5

#453 cp-444: Fix icon size for chatbot
  frontend/src/pages/chat/components/chat-message/chat-message.tsx
Labels: bug, frontend, development, cp-v5

#452 cp-274: Adjusted prompt for the image generation
  backend/src/packages/chats/libs/constants/constants.ts
Labels: backend, development

#449 cp-414: Fix incorrect inputs in swagger
  backend/src/packages/chats/chat.controller.ts
  backend/src/packages/meditation/meditation.controller.ts
Labels: bug, backend, development, cp-v5

#345 cp-276: Group chat messages by date
  .eslintrc.yml
  backend/src/libs/helpers/helpers.ts
  backend/src/packages/chat-messages/chat-message.repository.ts
  backend/src/packages/chat-messages/chat-message.service.ts
  backend/src/packages/chat-messages/libs/types/types.ts
  frontend/src/libs/helpers/helpers.ts
  frontend/src/packages/chat-messages/chat-messages.ts
  frontend/src/packages/chat-messages/libs/types/types.ts
  frontend/src/pages/chat/components/chat-divider/chat-divider.tsx
  frontend/src/pages/chat/components/chat-divider/styles.module.scss
  frontend/src/pages/chat/components/chat-layout/chat-layout.tsx
  frontend/src/pages/chat/components/components.ts
  frontend/src/slices/chats/chats.slice.ts
  mobile/src/slices/chats/chats.slice.ts
  shared/src/index.ts
  shared/src/libs/helpers/date/date.ts
  shared/src/libs/helpers/date/get-formatted-time/get-formatted-time.helper.ts
  shared/src/libs/helpers/date/get-relative-date/get-relative-date.helper.ts
  shared/src/libs/helpers/date/libs/enums/day-difference.enum.ts
  shared/src/libs/helpers/date/libs/enums/enums.ts
  shared/src/libs/helpers/date/libs/enums/time-format.enum.ts
  shared/src/libs/helpers/group-chat-message/group-chat-message.helper.ts
  shared/src/libs/helpers/helpers.ts
  shared/src/packages/chat-messages/chat-messages.ts
  shared/src/packages/chat-messages/libs/types/chat-message-get-all-response-dto.type.ts
  shared/src/packages/chat-messages/libs/types/chat-messages-groups.type.ts
  shared/src/packages/chat-messages/libs/types/types.ts
Labels: shared, backend, frontend, development, mobile, cp-v5

#436 cp-432: Added filter by extensions in the file input
  frontend/src/libs/components/input-file/input-file.tsx
  frontend/src/pages/meditation/components/add-meditation-modal/add-meditation-modal.tsx
Labels: frontend, development

#464 cp-416: Change ci postman tests with finding local backend running
  .github/workflows/ci-postman-tests-development.yml
  .github/workflows/ci-postman-tests.yml
  .postman/Calmpal.postman_collection.json
Labels: workflows, development

#466 cp-193: Adjusted the message prompt for chatbot
  backend/src/packages/chat-messages/libs/constants/constants.ts
Labels: backend, development

#343 cp-318: Not highlighted icons in the navigation bar
  backend/src/libs/packages/s3/s3.package.ts
  backend/src/packages/chat-messages/chat-message.service.ts
  backend/src/packages/chats/chat.service.ts
  frontend/src/index.tsx
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/dropdown-menu/dropdown-menu.tsx
  frontend/src/libs/components/navigation-menu-wrapper/libs/constants/constants.ts
  frontend/src/libs/components/navigation-menu/navigation-menu.tsx
  frontend/src/libs/components/router-provider/libs/constants/constants.tsx
  frontend/src/libs/components/router-provider/libs/helpers/find-nested-child-route/find-nested-child-route.helper.ts
  frontend/src/libs/components/router-provider/libs/helpers/helpers.ts
  frontend/src/libs/components/router-provider/libs/helpers/iterate-nested-route-element/iterate-nested-route-element.helper.tsx
  frontend/src/libs/components/router-provider/libs/maps/maps.tsx
  frontend/src/libs/components/router-provider/router-provider.tsx
  frontend/src/libs/helpers/check-is-selected-route.ts
  frontend/src/libs/helpers/helpers.ts
  frontend/src/libs/types/route/route.type.ts
  shared/src/libs/helpers/replace-template-with-value/replace-template-with-value.helper.ts
Labels: bug, shared, backend, frontend, development, cp-v5

#471 cp-354: Remove hover effect on disabled btn
  frontend/src/pages/chat/components/chat-footer/styles.module.scss
Labels: frontend, development, cp-v5

#473 cp-451: Changed gap between loader and text
  frontend/src/libs/components/button/styles.module.scss
Labels: frontend, development, cp-v5

#472 cp-342: Changed description for status code 400
  backend/src/packages/meditation/meditation.controller.ts
Labels: backend, development, cp-v5

#467 cp-439: bug when viewports height is less than 530px pages are overlapping
  frontend/src/libs/components/backward-button/styles.module.scss
  frontend/src/libs/components/card/styles.module.scss
  frontend/src/libs/components/sidebar/components/sidebar/styles.module.scss
  frontend/src/pages/chat/components/chat-header/styles.module.scss
  frontend/src/pages/chat/styles.module.scss
  frontend/src/pages/journal/styles.module.scss
  frontend/src/pages/meditation/components/meditation-list/styles.module.scss
  frontend/src/pages/user-profile/styles.module.scss
Labels: bug, frontend, development, cp-v5

#475 cp-462: Display time near chat messages
  frontend/src/libs/enums/enums.ts
  frontend/src/libs/helpers/helpers.ts
  frontend/src/pages/chat/components/chat-layout/chat-layout.tsx
  frontend/src/pages/chat/components/chat-message/chat-message.tsx
  frontend/src/pages/chat/components/chat-message/styles.module.scss
  shared/src/index.ts
  shared/src/libs/helpers/date/date.ts
  shared/src/libs/helpers/date/libs/enums/time-format.enum.ts
  shared/src/libs/helpers/helpers.ts
Labels: shared, frontend, development

#474 cp-445: Improvements of the meditation list to development
  frontend/src/pages/meditation/components/meditation-list/styles.module.scss
Labels: frontend, development, cp-v5

#309 cp-296: Mobile Delete Note Functionality
  mobile/src/assets/img/icons/delete.svg
  mobile/src/libs/components/button/button.tsx
  mobile/src/libs/components/button/styles.ts
  mobile/src/libs/components/card/card.tsx
  mobile/src/libs/components/card/styles.ts
  mobile/src/libs/components/components.tsx
  mobile/src/libs/components/icon/libs/maps/icon-name-to-icon/icon-name-to-icon.map.ts
  mobile/src/libs/components/modal/modal.tsx
  mobile/src/libs/types/icon-name.type.ts
  mobile/src/packages/journal/journal-api.ts
  mobile/src/packages/journal/libs/types/types.ts
  mobile/src/screens/chat-list/chat-list.tsx
  mobile/src/screens/journal/journal.tsx
  mobile/src/screens/meditation-home/meditation-home.tsx
  mobile/src/slices/journal/actions.ts
  mobile/src/slices/journal/journal.slice.ts
  mobile/src/slices/journal/journal.ts
Labels: development, mobile, cp-v5

#461 cp-446: Add loader to chatbot messages
  frontend/src/libs/components/app/app.tsx
  frontend/src/libs/components/loader/loader.tsx
  frontend/src/libs/components/loader/styles.module.scss
  frontend/src/pages/chat/components/chat-footer/chat-footer.tsx
  frontend/src/pages/chat/components/chat-layout/chat-layout.tsx
  frontend/src/pages/chat/libs/constants/constants.ts
  frontend/src/pages/meditation/components/meditation-list/components/meditation-entry/meditation-entry.tsx
  frontend/src/pages/meditation/components/meditation-list/meditation-list.tsx
  frontend/src/pages/surveys/survey.tsx
  frontend/src/slices/chats/chats.slice.ts
Labels: frontend, development

#447 cp-78: Fix layout bugs in meditation player
  frontend/src/libs/components/audio-player/components/audio-controls/styles.module.scss
  frontend/src/libs/components/audio-player/components/progress-bar/progress-bar.tsx
  frontend/src/libs/components/audio-player/components/progress-bar/styles.module.scss
  frontend/src/libs/components/back-button/back-button-wrapper.tsx
  frontend/src/libs/components/back-button/back-button.tsx
  frontend/src/libs/components/back-button/styles.module.scss
  frontend/src/libs/components/backward-button/styles.module.scss
  frontend/src/libs/components/components.ts
  frontend/src/libs/constants/constants.ts
  frontend/src/libs/constants/media-query.constant.ts
  frontend/src/libs/hooks/hooks.ts
  frontend/src/libs/hooks/use-media-query/use-media-query.hook.ts
  frontend/src/pages/journal/journal.tsx
  frontend/src/pages/meditation/components/meditation-list/meditation-list.tsx
  frontend/src/pages/meditation/components/meditation-player/meditation-player.tsx
  frontend/src/pages/meditation/components/meditation-player/styles.module.scss
  frontend/src/pages/meditation/components/meditation-sidebar/meditation-sidebar.tsx
  frontend/src/pages/meditation/components/meditation-sidebar/styles.module.scss
  frontend/src/pages/user-profile/user-profile.tsx
Labels: frontend, development

#480 cp-276: Chat divider yesterday fix to improvement
  shared/src/libs/helpers/date/libs/enums/day-difference.enum.ts
Labels: shared, development, cp-v5

#470 cp-455: Improved Mobile Meditation Player Timestamps
  mobile/android/app/src/main/res/values/styles.xml
Labels: development, mobile, cp-v5

#482 cp-477: + cursor pointer style on play and timer buttons
  frontend/src/libs/components/button/styles.module.scss
  frontend/src/pages/meditation/components/meditation-timer/components/timer-button/styles.module.scss
Labels: frontend, development

#417 cp-277: Group Chat Messages By Date
  mobile/src/libs/helpers/helpers.ts
  mobile/src/packages/chat-messages/chat-messages.ts
  mobile/src/packages/chat-messages/libs/types/types.ts
  mobile/src/screens/chat/chat.tsx
  mobile/src/screens/chat/components/chat-divider/chat-divider.tsx
  mobile/src/screens/chat/components/chat-divider/styles.ts
  mobile/src/screens/chat/components/components.tsx
  mobile/src/slices/chats/chats.slice.ts
Labels: development, mobile, cp-v5

#377 cp-369: Display Time Near Chat Messages
  mobile/src/libs/enums/enums.ts
  mobile/src/libs/helpers/helpers.ts
  mobile/src/screens/chat/chat.tsx
  mobile/src/screens/chat/components/message-item/message-item.tsx
  mobile/src/screens/chat/components/message-item/styles.ts
  shared/src/index.ts
  shared/src/libs/helpers/date/date.ts
  shared/src/libs/helpers/helpers.ts
Labels: shared, development, mobile, cp-v5

#478 cp-419: Added option to ignore timezone in getFormattedTime
  frontend/src/libs/components/audio-player/components/progress-bar/progress-bar.tsx
  frontend/src/pages/meditation/components/meditation-list/components/meditation-entry/meditation-entry.tsx
  frontend/src/pages/meditation/components/meditation-timer/components/timer-button/timer-button.tsx
  shared/src/libs/helpers/date/get-formatted-time/get-formatted-time.helper.ts
  shared/src/libs/helpers/date/libs/constants/constants.ts
Labels: shared, frontend, development

#433 cp-368: Improvements of a Journal page to development
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/card/card.tsx
  frontend/src/libs/packages/notification/notification.ts
  frontend/src/pages/journal/components/journal-sidebar/journal-sidebar.tsx
  frontend/src/pages/journal/components/journal-sidebar/styles.module.scss
  frontend/src/pages/journal/components/note/components/note-input/libs/constants/constants.ts
  frontend/src/pages/journal/components/note/components/note-input/styles.module.scss
  frontend/src/pages/journal/components/note/note.tsx
  frontend/src/pages/journal/components/note/styles.module.scss
  frontend/src/pages/journal/journal.tsx
  frontend/src/slices/app/app.ts
  frontend/src/slices/journal/actions.ts
  frontend/src/slices/journal/journal.slice.ts
Labels: frontend, development, conflicts, cp-v5

#456 cp-415: Fix width for meditation topic cards on mobile size screen
  frontend/src/libs/components/card/styles.module.scss
Labels: bug, frontend, development, cp-v5

#487 cp-479: Provide file name in file upload plugin
  backend/src/index.d.ts
  backend/src/libs/plugins/file-upload/file-upload.plugin.ts
  backend/src/packages/files/file.service.ts
  shared/src/packages/files/libs/types/file-upload-request-dto.type.ts
Labels: shared, backend, development

#384 cp-170: Add Meditation Player Layout
  mobile/src/libs/components/button/styles.ts
  mobile/src/libs/components/player/components/controls/controls.tsx
  mobile/src/libs/components/player/components/controls/styles.ts
  mobile/src/libs/components/player/components/progress-bar/progress-bar.tsx
  mobile/src/libs/components/player/player.tsx
  mobile/src/libs/packages/player/libs/enums/app-status.enum.ts
  mobile/src/libs/packages/player/libs/enums/enums.ts
  mobile/src/libs/packages/player/player.package.ts
  mobile/src/libs/packages/player/player.ts
Labels: development, mobile, cp-v5

#488 cp-443: Make the chats creation faster to development
  backend/src/packages/chats/chat.controller.ts
  backend/src/packages/chats/chat.repository.ts
  backend/src/packages/chats/chat.service.ts
  backend/src/packages/chats/libs/types/types.ts
  backend/src/packages/chats/libs/types/update-chat-data-payload.type.ts
  backend/src/packages/chats/libs/types/update-chat-data-request-dto.type.ts
  frontend/src/packages/chats/chats-api.ts
  frontend/src/packages/chats/chats.ts
  frontend/src/packages/chats/libs/types/types.ts
  frontend/src/slices/chats/actions.ts
  frontend/src/slices/chats/chats.slice.ts
  frontend/src/slices/chats/chats.ts
  shared/src/index.ts
  shared/src/packages/chats/chats.ts
  shared/src/packages/chats/libs/types/types.ts
  shared/src/packages/chats/libs/types/update-chat-data-request-dto.type.ts
  shared/src/packages/chats/libs/types/update-chat-image-request-dto.type.ts
Labels: shared, backend, frontend, development, cp-v5

#379 cp-282: Fixed Load Mobile Meditation Entries
  mobile/src/screens/meditation-home/libs/constants/constants.ts
  mobile/src/screens/meditation-home/meditation-home.tsx
  mobile/src/screens/meditation-list/libs/constants/constants.ts
  mobile/src/screens/meditation-list/meditation-list.tsx
Labels: development, mobile, cp-v5

#454 cp-431: Fix search request
  frontend/src/pages/chat/components/chat-layout/chat-layout.tsx
  frontend/src/pages/chat/components/chat-sidebar/chat-sidebar.tsx
  frontend/src/pages/journal/components/journal-sidebar/journal-sidebar.tsx
  frontend/src/pages/journal/journal.tsx
  frontend/src/slices/chats/chats.slice.ts
Labels: bug, frontend, development, cp-v5

#340 cp-269: Mobile Delete Chat Functionality
  mobile/src/libs/components/button/styles.ts
  mobile/src/libs/components/card/card.tsx
  mobile/src/libs/components/modal/modal.tsx
  mobile/src/libs/components/modal/styles.ts
  mobile/src/packages/chats/chats-api.ts
  mobile/src/screens/chat-list/chat-list.tsx
  mobile/src/slices/chats/actions.ts
  mobile/src/slices/chats/chats.slice.ts
  mobile/src/slices/chats/chats.ts
Labels: development, mobile, cp-v5
